<router-outlet></router-outlet>
<div class="container">
    <h2 style="text-align: center;">Approval of Director</h2>
    <hr>
    <div class="card">
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:45%; margin-left: 1em;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">ID:</label>
                    </div>
                    <input type="text" class="form-control"
                    name="fabricWeight" [(ngModel)]="fabricWeight" disabled>
                  </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:62%; margin-left: 6rem;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Mail Date:</label>
                    </div>
                    <input type="text" class="form-control"  disabled
                    name="fabricWeight" [(ngModel)]="fabricWeight">
                  </div>
            </div>
          </div>

          <div class="row" style="margin-top: -1rem; ">
            <div class="col-sm">
                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:75%; margin-left: 1em;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Reference No:</label>
                    </div>
                    <input type="text" class="form-control"
                    name="fabricWeight" [(ngModel)]="fabricWeight" disabled>
                  </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:62%; margin-left: 6rem;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Entry Date:</label>
                    </div>
                    <input type="text" class="form-control"  disabled
                    name="fabricWeight" [(ngModel)]="fabricWeight">
                  </div>
            </div>
          </div>

          <div class="row" style="margin-top: -1rem; ">
            <div class="col-sm">
                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:75%; margin-left: 1em;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Buyer Name:</label>
                    </div>
                    <input type="text" class="form-control"
                    name="fabricWeight" [(ngModel)]="fabricWeight" disabled>
                  </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              
            </div>
          </div>

          <div class="row" style="margin-top: -1rem; ">
            <div class="col-sm">
                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:75%; margin-left: 1em;">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Style:</label>
                    </div>
                    <input type="text" class="form-control"
                    name="fabricWeight" [(ngModel)]="fabricWeight" disabled>
                  </div>
            </div>
            <div class="col-sm">
                    <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:62%; margin-left: 6rem;">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                            </div>
                            <input type="text" class="form-control"  disabled
                            name="fabricWeight" [(ngModel)]="fabricWeight">
                          </div>
            </div>

            <div class="col-sm">
               
            </div>
          </div>

          <div class="row" style="margin-top: -1rem; ">
                <div class="col-sm">
                    <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:75%; margin-left: 1em;">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Size:</label>
                        </div>
                        <input type="text" class="form-control"
                        name="fabricWeight" [(ngModel)]="fabricWeight" disabled>
                      </div>
                </div>
                <div class="col-sm">
                        <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:62%; margin-left: 6rem;">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                                </div>
                                <input type="text" class="form-control"  disabled
                                name="fabricWeight" [(ngModel)]="fabricWeight">
                              </div>
                </div>
    
                <div class="col-sm">
                   
                </div>
              </div>

          <div class="row" style="margin-top: -1rem; ">
                    <div class="col-sm">
                        <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:75%; margin-left: 1em;">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                            </div>
                            <input type="text" class="form-control"
                            name="fabricWeight" [(ngModel)]="fabricWeight" disabled>
                          </div>
                    </div>
                    <div class="col-sm">
                            <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem; width:62%; margin-left: 6rem;">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                                    </div>
                                    <input type="text" class="form-control"  disabled
                                    name="fabricWeight" [(ngModel)]="fabricWeight">
                                  </div>
                    </div>
        
                    <div class="col-sm">
                       
                    </div>
                  </div>
      </div>
      <hr>
      <h3 style="text-align: center;">Price Calculation BReakdown</h3>
      <hr>
</div>