<p></p>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" routerLink="/"> HOME</button>
      <button class="btn btn-outline-success" type="button" routerLink="/std"> STUDENT</button>
      <button class="btn btn-outline-success" type="button" routerLink="/dept"> DEPARTMENT</button>
      <button class="btn btn-outline-success" type="button" routerLink="/res"> RESULT</button>
    </form>
  </nav> 


<!-- <button routerLink="/"> HOME</button>  
<button routerLink="/std"> STUDENT</button>
<button routerLink="/dept"> DEPARTMENT</button>
<button routerLink="/res"> RESULT</button> --> 
