<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5"></div>
</div>
<div class="card-group">
    <div class="card">
     
      <div class="card-body">
        <h5 class="card-title">Recipe List</h5>
        <p class="card-text"><app-recipe-list></app-recipe-list></p>
      </div>
     
    </div>
    <div class="card">
 
      <div class="card-body">
        <h5 class="card-title">Recipe Details</h5>
        <p class="card-text"><app-recipe-detail></app-recipe-detail></p>
      </div>
    
    </div>
    
  </div>