<form name="mainform" (ngSubmit)="mainform.form.valid && createAndUpdate(Fc.currentFabricCalc)" #mainform="ngForm" novalidate>
<div class="jumbotron" style="margin-top: -4rem">
    <div class="card border-primary mb-3" style="max-width: 43rem; margin-left: 16rem;">
      <div class="card-header"><h2 style="text-align: center">Fabric Calculation</h2></div>
        <div class="card-body" >
            <div class="row">
              <div class="col-md-3">
                  <div class="form-inline " >
         
                      <label >ID: </label>
                     <input class="form-control" type="text" placeholder="{{autoID}}" style="width: 48%" disabled>
                    </div>
              </div>

              <div class="col-md-4">
                <div class="form-inline">
            <!-- <input type="text" name="dateRangeStartDate" #txtVoucherDate1ID="ngModel" [(ngModel)]="dateRangeStartDate"
                           style="width: 100%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                           class="form-control" [minDate]="minDate" [maxDate]="maxDate"> -->
                          <label for="formGroupExampleInput"> Mail Date: </label>
                           <input type="text" id="mailDate" name="Fc.currentFabricCalc.mailDate" [(ngModel)]="Fc.currentFabricCalc.mailDate"
                            placeholder="{{today}}"
                           style="width: 60%;" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                           class="form-control" #mailDate="ngModel" required>
                          </div>
              </div>
              <div class="col-md-4">
                  <div class="form-inline">
                  <label for="formGroupExampleInput"> Entry Date: </label>
                  <input type="text" id="entryDate" placeholder="{{today}}" name="Fc.currentFabricCalc.entryDate" [(ngModel)]="Fc.currentFabricCalc.entryDate"
                  style="width: 60%;" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placeholder="{{today}}"
                  class="form-control" #entryDate="ngModel" required>
                 </div>
                </div>
              </div>
              <br> 
              <div class="row" style="margin-top:-1rem;">
                  <div class="col-6" style="margin-left: 0% ">
                      
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">Ref. No: </div>
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%" placeholder="Enter Reference Number"
                          name="Fc.currentFabricCalc.refNo" [(ngModel)]="Fc.currentFabricCalc.refNo" #refNo="ngModel"required>
                          </div>
                  </div>
                </div>
                <br>
              <div class="row" style="margin-top:-1rem; margin-bottom: 1rem;">
                  <div class="col-10"> 
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Buyer Name:</label>
                    </div>
                    <select class="custom-select" id="buyer_name" style="width: 5rem;"  name="Fc.currentFabricCalc.buyer_name" 
                    [(ngModel)]="Fc.currentFabricCalc.buyer_name" #buyer_name="ngModel" 
                    required>
                      <option value="{{b.name}}" *ngFor="let b of allBuyers">{{b.name}},Address: {{b.house}},{{b.road}}, {{b.area}} </option>
                
                    </select> 
        
                  
                  </div>
                  <!-- <p style="margin-left: 7rem; margin-top: -1rem; margin-bottom: 3rem;">Address:</p> -->
                  
                  
                </div>
                 <div class="col-2" style="margin-left: -1rem;">
                  <button class="button" class="btn btn-outline-info">New Buyer</button>
                 </div>
                </div> 
                <div class="row">
                  <div class="col-6">
                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: -1rem">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Size:</label>
                  </div>
                  <select class="custom-select" id="size" name="Fc.currentFabricCalc.size"
                   [(ngModel)]="Fc.currentFabricCalc.size" #size="ngModel" required>
                   
                      <option value="{{s.size_name}}" *ngFor="let s of allSize">{{s.size_name}}</option>
                    </select>
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                        New Size
                       </button>
                </div>
              </div>
              <div class="col-6" style="margin-top: -2rem;">
                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                    </div>
                    <select class="custom-select" style="width: 70%" id="fabrics" name="Fc.currentFabricCalc.fabrics" 
                    [(ngModel)]="Fc.currentFabricCalc.fabrics" #fabrics="ngModel" required>
                        <option value="{{f.fabric_name}}" *ngFor="let f of allFabricType">GSM-{{f.fabric_name}}</option>
                      </select>
                  </div>  
                </div>
              </div>
    </div>

    <div class="card-group">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; margin-top: 0rem; padding-bottom: 10%">Style</h5>
                <div class="input-group mb-2" *ngIf="JacketSelected || ShortsSelected">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Code No:</div>
                  </div>
                  <input type="text" class="form-control" id="style_code" placeholder="Code Number" style="width: 12.5rem" 
                  name="Fc.currentFabricCalc.style_code" [(ngModel)]="Fc.currentFabricCalc.style_code" 
                  onkeyup="this.value = this.value.toUpperCase();" #style_code="ngModel">
                </div>

                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Item Name:</label>
                  </div>
                  <select class="custom-select" id="itemName" style="width: 64%;" name="Fc.currentFabricCalc.style_item_name"
                   [(ngModel)]="Fc.currentFabricCalc.style_item_name" #itemName="ngModel" required>
                    <option value="{{i.itemName}}" *ngFor="let i of allItems">{{i.itemName}}</option>
                  </select>
                </div>
                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="JacketSelected">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Sleeve Type:</label>
                    </div>
                    <select class="custom-select" style="width: 63%;" id="style_sleeve_type" name="Fc.currentFabricCalc.style_sleeve_type"
                     [(ngModel)]="Fc.currentFabricCalc.style_sleeve_type" #style_sleeve_type="ngModel">
                      <option value="{{s.Sleeve_name}}" *ngFor="let s of allSleeveType">{{s.Sleeve_name}}</option>
                    </select>
                  </div>
                <button type="button" class="btn btn-outline-info" style="margin-left: 14rem;" (click)="selectSwitch()">
                    Select
                   </button>
            </div>
        </div>
        <div class="card">
         
          <div class="card-body" style="margin-bottom: -1rem; margin-top: -1rem">
              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected || ShortsSelected">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Waste Percentage:</label>
                  </div>
                  <input type="text" class="form-control" id="inputEmail3" maxlength="4" placeholder="%" style="width: 30%"
                   name="Fc.currentFabricCalc.waste_percentage" [(ngModel)]="Fc.currentFabricCalc.waste_percentage" required>
                  
                </div>
              
                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="JacketSelected">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Bottom:</label>
                    </div>
                    <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 17%" 
                    name="Fc.currentFabricCalc.bottom" [(ngModel)]="Fc.currentFabricCalc.bottom">
                    <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.bottom_unit_of_measurement" 
                    [(ngModel)]="Fc.currentFabricCalc.bottom_unit_of_measurement" >
                        
                        <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                      </select>
                  </div>
                  <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="JacketSelected">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Hood:</label>
                      </div>
                      <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 22%" 
                      name="Fc.currentFabricCalc.hood" [(ngModel)]="Fc.currentFabricCalc.hood" >
                      <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.hood_unit_of_measurement" 
                      [(ngModel)]="Fc.currentFabricCalc.hood_unit_of_measurement" >
                          
                          <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                        </select>
                    </div>
                    <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="ShortsSelected">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">2/1 Thigh:</label>
                        </div>
                        <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 15%" 
                        name="Fc.currentFabricCalc.thigh" [(ngModel)]="Fc.currentFabricCalc.thigh" >
                            <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.thigh_unit_of_measurement" 
                            [(ngModel)]="Fc.currentFabricCalc.thigh_unit_of_measurement" >
                                
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                      </div>
                      <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="ShortsSelected">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Pocket:</label>
                          </div>
                          <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 22%" 
                          name="Fc.currentFabricCalc.pocket" [(ngModel)]="Fc.currentFabricCalc.pocket" >
                            <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.pocket_unit_of_measurement" 
                            [(ngModel)]="Fc.currentFabricCalc.pocket_unit_of_measurement" >
                                
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                        </div>
                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                            </div>
                            <input type="text" class="form-control" id="chest" maxlength="4" placeholder="input" style="width: 35%" 
                            name="Fc.currentFabricCalc.chest" [(ngModel)]="Fc.currentFabricCalc.chest">
                            <select class="custom-select" style="width:40%" name="Fc.currentFabricCalc.chest_unit_of_measurement" 
                            [(ngModel)]="Fc.currentFabricCalc.chest_unit_of_measurement">
                               
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected || ShortsSelected">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                            </div>
                            <input type="text" class="form-control" id="length" maxlength="4" placeholder="input" style="width: 22%" 
                            name="Fc.currentFabricCalc.length" [(ngModel)]="Fc.currentFabricCalc.length">
                            <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.length_unit_of_measurement" 
                            [(ngModel)]="Fc.currentFabricCalc.length_unit_of_measurement" >
                                
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                    
                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                            </div>
                            <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 24%" 
                            name="Fc.currentFabricCalc.sleeve" [(ngModel)]="Fc.currentFabricCalc.sleeve">
                            <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.sleeve_unit_of_measurement" 
                            [(ngModel)]="Fc.currentFabricCalc.sleeve_unit_of_measurement">
                              
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                        
                          <button type="button" class="btn btn-outline-info" style="margin-left: 13rem;" (click)="calculate()">
                              Calculate
                             </button>
                          <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Fabric Weight</label>
                              </div>
                              <input type="text" class="form-control"  disabled style="width: 24%" 
                              name="fabricWeight" [(ngModel)]="fabricWeight">   
                           
                              
                            </div>

                         

          </div>
         
        </div>
       
      </div>
      <div class="row" style="margin-top: 2%; margin-bottom:2%;">
          <div class="col"></div>
          <div class="col"></div>
        
        <div class="col"> <button type="submit" class="btn btn-success" style="margin-left: -2rem;" [disabled]="mainform.form.pristine || mainform.form.invalid">Submit</button></div>
        <div class="col"> <button type="submit" class="btn btn-danger" style="margin-left: -3rem;" (click)="clearAll()">Clear</button></div>
        <div class="col"><button type="submit" class="btn btn-primary" [routerLink]="['/report']" style="margin-left:-5rem;">Report</button></div>
        <div class="col"></div>
        
      </div>
      <div  class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsubmitting" style="align-content: center">
          Entry Created successfully
        </div>
        <div  class="alert alert-success" role="alert" *ngIf="showeditmessage" style="align-content: center">
          Entry Edited successfully
        </div>
      </div>
      
</div>
</form>


<!--------------------------------------------- ADD NEW SIZE PORTION ------------------------------------------------------------------>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Size</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid && AddNewSize(Sl.currentSizeList)" #f="ngForm" novalidate>
                <div class="form-row align-items-center">
                    <div class="col-sm-4">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">Size ID:</div>
                          </div>
                          <input type="text" class="form-control" placeholder="{{sizeID}}" disabled>
                        </div>
                      </div> 
                  <div class="col-sm-7">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Size Name:</div>
                      </div>
                      <input type="text" id="size_name"class="form-control" minlength="2" placeholder="Size" name="Sl.currentSizeList.size_name"
                      [(ngModel)]="Sl.currentSizeList.size_name" #size_name="ngModel" required>
                    </div>
                  </div>
                </div>
                   <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="f.form.pristine || f.form.invalid" >Add</button>
                  </div>

                  <div class="form-group">
                    <div *ngIf="size_name.invalid && size_name.untouched" class="alert alert-danger">
                      <div *ngIf="size_name.errors.required">
                        Name is required.
                      </div>
                      <div *ngIf="size_name.errors.minlength">
                        Name must be at least 4 characters long.
                      </div>
                    </div>
                  </div>
                  <div  class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsize">
                    Size Added successfully
                  </div>

                </form>
<!------------------------------------------------------------ end of ADD NEW SIZE PORTION ------------------------------------------------------------------>
        </div>
      </div>
    </div>
  </div>

<!------------------------------------------------------ This part is for showing the list of inputs -->

<div class="card border-info mb-3" style="max-width: 50rem; margin-left: 15rem">
  <div class="alert alert-danger" *ngIf="showdeletemessage">
  Post Deleted successfully
</div>
  <div class="card-header"><h2 style="text-align: center">Fabric Entries List</h2></div>
  <div class="card-body">
<table class="table table-hover">
<thead>
  <tr>
    
    <th scope="col">No.</th>
    <th scope="col">Ref. No.</th>
    <th scope="col">Buyer</th>
    <th scope="col">Entry Date</th>
    <th scope="col">Mail Date</th>
    <th scope="col">Fabric Entry ID</th>
    <th scope="col">Style Code</th>
   
  </tr>
</thead>
<tbody>
  <tr *ngFor="let entry of FabricCalc,index as i">
    <td>{{i+1}}</td>
    <td>{{entry.refNo}}</td>
    <td>{{entry.buyer_name}}</td>
    <td>{{entry.entryDate | date :  "dd.MM.yyyy"}}</td>
    <td>{{entry.mailDate | date :  "dd.MM.yyyy"}}</td>
    <td>{{entry.fabricEntry_id}}</td>
    <td>{{entry.style_code}}</td>
    <td><button (click)="editFabricEntry(entry)"><span class="badge badge-box badge-warning">Edit</span></button></td>
    <td><button (click)="deleteFabricEntry(entry)"><span class="badge badge-box badge-danger">Delete</span></button></td>
  </tr>
</tbody>
</table>
   
  </div>
</div>
<!------------------------------------------------------------------ End of the list --------------------------------------------------->