<h3>{{viewtitle}}</h3>

<form>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullname" placeholder="Enter your name">
    </div>
     <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="example@mail.com">
    </div>
     <div class="form-row">
         <div class="form-group col-md-6">
             <label>Mobile No</label>
             <input type="text" class="form-control" name="mobile" placeholder="Mobile no">
         </div>
          <div class="form-group col-md-6">
             <label>city</label>
             <input type="text" class="form-control" name="city" placeholder="city">
         </div>
     </div>
     <div class="form-group">
         <button type="submit" class="btn btn-info"><i class="fa fa-database">submit</i></button>
     </div>
</form>