<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button type="button" style="margin-left: 9rem" class="btn btn-secondary" (click)="selectSize()">Add New
        Size</button>
    </div>
    <div class="col-md-6">
      <button type="button" style="margin-left: 11rem" class="btn btn-secondary" [routerLink]="['/report']" routerLinkActive="router-link-active">Report</button>
    </div>
  </div>
  <form name="form"  #f="ngForm">
  <div *ngIf="selectadd==true">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header">
            Size
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Size ID:</span>
                  </div>
                  <div class="col-xs-1">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-sm" placeholder="{{a}}" readonly="">
                  </div>
                </div>

              </div>
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Size Name:</span>
                  </div>
                  <div class="col-xs-1">
                    <input type="text" name="name" class="form-control" 
                      [(ngModel)]="ClientSize.currentSize.size_name" #name="ngModel" required>
                  </div>
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">


                    <label *ngIf="name.errors.required"> Empty Field.</label>

                  </div>
                </div>



              </div>
              <div class="row justify-content-md-center">
              <div class="col-md-12" style="display: flex">
                <button class="btn btn-light" style="margin-left:22rem;"  [disabled]="f.form.pristine || f.form.invalid" (click)="createAndUpdate (ClientSize.currentSize)">Submit</button>
              
                <button class="btn btn-light"style="margin-left:1rem;" (click)="clearAll()">Clear</button>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </form>
  <div class="row justify-content-md-center" *ngIf="showsuccessmessage">
    <p>Created New size successfully</p>

  </div>
  <div class="row justify-content-md-center" *ngIf="showdeletemessage">
    <p>Deleted successfully</p>
  </div>
  <div class="row justify-content-md-center" *ngIf="showupdatemessage">
    <p>Updated successfully</p>
  </div>
  <div class="row justify-content-md-center"  *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card text-center">
          <div class="card-header">
            All Available Size
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Size-ID</th>
                  <th scope="col">Size-Name</th>
                  <th scope="col"></th>
                  <th scope="col"></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of allsize">

                  <td>{{p.size_id}}</td>
                  <td>{{p.size_name}}</td>
                  <td><a class="btn text-success" (click)="edit(p)">
                      <i class="fa fa-edit"></i>
                    </a>

                  </td>

                  <td> <a class="btn text-danger" (click)="del(p)" data-toggle="modal" data-target="#exampleModal">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
    <!-----modal class-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Delete size?
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="deletesize(Bid)" data-dismiss="modal">OK </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
    <!-- </td> -->
  </div>
</div>

<!------------------>