<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-danger" routerLink="/products">Products</button>
              <hr/>
              <!-- prdouct name -->
              <h2 class="card-title">{{product.prod_name}}</h2>
              <!-- Product price -->
              <h6 class="card-subtitle mb-2 text-muted">${{product.prod_price}}</h6>
              <!-- product description -->
              <P class="card-text">{{product.prod_desc}}</P>
              <!-- product update time -->
              <P class="card-text font-weight-bold">Updated On: {{product.updated_at}}</P>
              <!-- Edit and delete button -->
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" routerLink="/product-edit/{{product.id}}">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>