  <div class="card">
      <div class="card-header">
          Write whats on your mind
      </div>
      <div class="card-body">
        <form>
          <label>Post Title : </label><input type="text" name="post_title" placeholder="Title of Post">
          <label>Post Description : </label><textarea name="post_description"  cols="100" rows="10"></textarea><hr>
          <div class="container">
              <div class="row">
                <div class="col">
                    <input type="radio" name="post_privacy" value="public"> Public
                    <input type="radio" name="post_privacy" value="private"> Private<br>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" name="privacy_location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Location
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">1</a>
                          <a class="dropdown-item" href="#">2 </a>
                          <a class="dropdown-item" href="#">3</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>