<div class="container">
    <div class="card" style="margin-top: 1rem; margin-left: 10rem;margin-right: 10rem;">
        <!-- upper part -->
        <h5 style="text-align: center;"><strong></strong></h5>
        <div class="card-body" style="margin-bottom: -1.75rem; margin-top: -1rem;">
                <div class="row">
                  <div class="col-md-3">
                      <div class="form-inline " >
             
                          <label >ID: </label>
                         <input class="form-control" type="text" placeholder="{{autoID}}" style="width: 40%" disabled>
                        </div>
                  </div>
    
                  <div class="col-md-4">
                    <div class="form-inline">
                <!-- <input type="text" name="dateRangeStartDate" #txtVoucherDate1ID="ngModel" [(ngModel)]="dateRangeStartDate"
                               style="width: 100%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                               class="form-control" [minDate]="minDate" [maxDate]="maxDate"> -->
                              <label for="formGroupExampleInput"> Mail Date: </label>
                               <input type="text" id="mailDate" name="fabricpriceservice.currentFabricCalc.mailDate" [(ngModel)]="fabricpriceservice.currentFabricCalc.mailDate"
                                placeholder="{{today}}" 
                               style="width: 50%;" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                               class="form-control" #mailDate="ngModel" required>
                              </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-inline">
                    <!-- <input type="text" name="dateRangeStartDate" #txtVoucherDate1ID="ngModel" [(ngModel)]="dateRangeStartDate"
                                   style="width: 100%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                                   class="form-control" [minDate]="minDate" [maxDate]="maxDate"> -->
                                  <label for="formGroupExampleInput"> Entry Date: </label>
                                  <input type="text" id="entryDate" placeholder="{{today}}" name="fabricpriceservice.currentFabricCalc.entryDate" [(ngModel)]="fabricpriceservice.currentFabricCalc.entryDate"
                                  style="width: 50%;" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                                  class="form-control" #entryDate="ngModel" required>
                                  </div>
                      </div>
                  </div>
                  <br> 
                  <div class="row" style="margin-top:-1rem; margin-bottom:-0.5rem;">
                      <div class="col-6" style="margin-left: 0% ">
                          
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">Ref. No: </div>
                                </div>
                                <input type="text" id="refNo" class="form-control" [disabled]="hiddingrefIdandStyleCode" style="width: 30%" placeholder="Enter Reference Number"
                              name="fabricpriceservice.currentFabricCalc.refNo" 
                              [(ngModel)]="fabricpriceservice.currentFabricCalc.refNo" #refNo="ngModel"required>
                              </div>
                      </div>
                    </div>
                    
                    <br>
                  <div class="row" style="margin-top:-1rem; margin-bottom:0.5rem;">
                      <div class="col-10"> 
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Buyer Name:</label>
                        </div>
                        <select class="custom-select" id="buyer_name" style="width: 5rem;"  name="fabricpriceservice.currentFabricCalc.buyer_name" 
                        [(ngModel)]="fabricpriceservice.currentFabricCalc.buyer_name" #buyer_name="ngModel" 
                        required>
                          <option value="{{b.name}}" *ngFor="let b of allBuyers">{{b.name}} | Address: {{b.house}},{{b.road}},{{b.area}} </option>
                    
                        </select> 
            
                      
                      </div>
                      <!-- <p style="margin-left: 7rem; margin-top: -1rem; margin-bottom: 3rem;">Address:</p> -->
                      
                      
                    </div>
                     <div class="col-2" style="margin-left: -1rem;">
                      <button class="button" class="btn btn-outline-info">New Buyer</button>
                     </div>
                    </div> 
                    <div class="row" style="margin-bottom:-0.5rem;">
                      <div class="col-6">
                    <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: -1rem">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Size:</label>
                      </div>
                      <select class="custom-select" id="size" name="fabricpriceservice.currentFabricCalc.size"
                       [(ngModel)]="fabricpriceservice.currentFabricCalc.size" #size="ngModel" required>
                       
                          <option value="{{s.size_name}}" *ngFor="let s of allSize">{{s.size_name}}</option>
                        </select>
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                            New Size
                           </button>
                    </div>
                  </div>
                  <div class="col-6" style="margin-top: -2rem;">
                    <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                        </div>
                        <select class="custom-select" style="width: 70%" id="fabrics" name="fabricpriceservice.currentFabricCalc.fabrics" 
                        [(ngModel)]="fabricpriceservice.currentFabricCalc.fabrics" #fabrics="ngModel" required>
                            <option value="{{f.fabric_name}}" *ngFor="let f of allFabricType">GSM-{{f.fabric_name}}</option>
                          </select>
                      </div>  
                    </div>
                  </div>
        </div>
      
        <!-- end of upper part -->
    <div class="container">
        <div class="row">
        <!--lower left side -->
        <div class="col">
                <div class="card">
                        <div class="card-body">
                                <h5 class="card-title" style="text-align: center; margin-top: 0rem; padding-bottom: 0%">Fabric Calculation</h5>
                                    <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">Style Code</div>
                                      </div>
                                      <input type="text" class="form-control" id="style_code" [disabled]="hiddingrefIdandStyleCode" placeholder="Code Number" style="width: 12.5rem" 
                                      name="fabricpriceservice.currentFabricCalc.style_code" [(ngModel)]="fabricpriceservice.currentFabricCalc.style_code" 
                                       #style_code="ngModel" required>
                                    </div>
                    
                                    <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                      <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Item Name:</label>
                                      </div>
                                      <select class="custom-select" id="itemName" style="width: 64%;" name="fabricpriceservice.currentFabricCalc.style_item_name"
                                       [(ngModel)]="fabricpriceservice.currentFabricCalc.style_item_name" #itemName="ngModel" (click)="selectSwitch(itemName.value)" required>
                                        <option value="{{i.itemName}}" *ngFor="let i of allItems">{{i.itemName}}</option>
                                      </select>
                                    </div>
                                    <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="JacketSelected">
                                        <div class="input-group-prepend">
                                          <label class="input-group-text" for="inputGroupSelect01">Sleeve Type:</label>
                                        </div>
                                        <select class="custom-select" style="width: 63%;" id="style_sleeve_type" name="fabricpriceservice.currentFabricCalc.style_sleeve_type"
                                         [(ngModel)]="fabricpriceservice.currentFabricCalc.style_sleeve_type" #style_sleeve_type="ngModel">
                                          <option value="{{s.Sleeve_name}}" *ngFor="let s of allSleeveType">{{s.Sleeve_name}}</option>
                                        </select>
                                      </div>
                                </div>
                               <br>
                               <h5 style="text-align: center; padding-bottom: 0%">Measurements</h5>
                        <div class="card-body" style="margin-bottom: -1rem; margin-top: -1rem">
                                    <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                        <div class="input-group-prepend">
                                          <label class="input-group-text" for="inputGroupSelect01">Waste Percentage:</label>
                                        </div>
                                        <input type="text" class="form-control" id="inputEmail3" minlength="1" placeholder="%" style="width: 30%"
                                         name="fabricpriceservice.currentFabricCalc.waste_percentage" [(ngModel)]="fabricpriceservice.currentFabricCalc.waste_percentage" required>
                                        
                                      </div>
                                    
                                      <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="JacketSelected">
                                          <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Bottom:</label>
                                          </div>
                                          <input type="text"class="form-control" id="inputPassword3" minlength="2" placeholder="0" style="width: 17%" 
                                          name="fabricpriceservice.currentFabricCalc.bottom" [(ngModel)]="fabricpriceservice.currentFabricCalc.bottom">
                                          <select class="custom-select" style="width: auto" name="fabricpriceservice.currentFabricCalc.bottom_unit_of_measurement" 
                                          [(ngModel)]="fabricpriceservice.currentFabricCalc.bottom_unit_of_measurement" >
                                              
                                              <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="JacketSelected">
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Hood:</label>
                                            </div>
                                            <input type="text"class="form-control" id="inputPassword3" minlength="2" placeholder="0" style="width: 22%" 
                                            name="fabricpriceservice.currentFabricCalc.hood" [(ngModel)]="fabricpriceservice.currentFabricCalc.hood" >
                                            <select class="custom-select" style="width: auto" name="fabricpriceservice.currentFabricCalc.hood_unit_of_measurement" 
                                            [(ngModel)]="fabricpriceservice.currentFabricCalc.hood_unit_of_measurement" >
                                                
                                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                              </select>
                                          </div>
                                          <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="ShortsSelected">
                                              <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">2/1 Thigh:</label>
                                              </div>
                                              <input type="text" pattern="[0-9]" title="Three digit input"class="form-control" id="inputPassword3" minlength="2" placeholder="0" style="width: 15%" 
                                              name="fabricpriceservice.currentFabricCalc.thigh" [(ngModel)]="fabricpriceservice.currentFabricCalc.thigh" >
                                                  <select class="custom-select" style="width: auto" name="fabricpriceservice.currentFabricCalc.thigh_unit_of_measurement" 
                                                  [(ngModel)]="fabricpriceservice.currentFabricCalc.thigh_unit_of_measurement" >
                                                      
                                                      <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                                    </select>
                                            </div>
                                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="ShortsSelected">
                                                <div class="input-group-prepend">
                                                  <label class="input-group-text" for="inputGroupSelect01">Pocket:</label>
                                                </div>
                                                <input type="text" class="form-control" id="inputPassword3" minlength="2" placeholder="0" style="width: 22%" 
                                                name="fabricpriceservice.currentFabricCalc.pocket" [(ngModel)]="fabricpriceservice.currentFabricCalc.pocket" >
                                                  <select class="custom-select" style="width: auto" name="fabricpriceservice.currentFabricCalc.pocket_unit_of_measurement" 
                                                  [(ngModel)]="fabricpriceservice.currentFabricCalc.pocket_unit_of_measurement" >
                                                      
                                                      <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                                    </select>
                                              </div>
                                              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected">
                                                  <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                                                  </div>
                                                  <input type="text"class="form-control" id="chest" minlength="2" placeholder="0" style="width: 37%" 
                                                  name="fabricpriceservice.currentFabricCalc.chest" [(ngModel)]="fabricpriceservice.currentFabricCalc.chest">
                                                  <select class="custom-select" style="width:40%" name="fabricpriceservice.currentFabricCalc.chest_unit_of_measurement" 
                                                  [(ngModel)]="fabricpriceservice.currentFabricCalc.chest_unit_of_measurement">
                                                     
                                                      <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                                    </select>
                                                </div>
                                              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected || ShortsSelected">
                                                  <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                                                  </div>
                                                  <input type="text"class="form-control" id="length" minlength="2" placeholder="0" style="width: 22%" 
                                                  name="fabricpriceservice.currentFabricCalc.length" [(ngModel)]="fabricpriceservice.currentFabricCalc.length">
                                                  <select class="custom-select" style="width: auto" name="fabricpriceservice.currentFabricCalc.length_unit_of_measurement" 
                                                  [(ngModel)]="fabricpriceservice.currentFabricCalc.length_unit_of_measurement" >
                                                      
                                                      <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                                    </select>
                                                </div>
                                          
                                              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem" *ngIf="BoysTshirtSelected || JacketSelected">
                                                  <div class="input-group-prepend">
                                                    <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                                                  </div>
                                                  <input type="text"class="form-control" id="inputPassword3" minlength="2" placeholder="0" style="width: 24%" 
                                                  name="fabricpriceservice.currentFabricCalc.sleeve" [(ngModel)]="fabricpriceservice.currentFabricCalc.sleeve">
                                                  <select class="custom-select" style="width: auto" name="fabricpriceservice.currentFabricCalc.sleeve_unit_of_measurement" 
                                                  [(ngModel)]="fabricpriceservice.currentFabricCalc.sleeve_unit_of_measurement">
                                                    
                                                      <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                                                    </select>
                                                </div>
                                              
                                                <button type="button" class="btn btn-outline-info" style="margin-left: 13rem;" (click)="calculate1()" *ngIf="BoysTshirtSelected || JacketSelected || ShortsSelected">
                                                    Calculate
                                                   </button>
                                                <div class="input-group mb-3" style="margin-bottom: rem; margin-top: 1rem">
                                                    <div class="input-group-prepend">
                                                      <label class="input-group-text" for="inputGroupSelect01">Fabric Weight</label>
                                                    </div>
                                                    <input type="text" class="form-control"  disabled style="width: 24%;" 
                                                    name="fabricWeight" [(ngModel)]="fabricWeight">kg/per dozen
                                                  </div>
                      
                                               
                      
                                </div>
                </div>
        </div>
        <!-- end of lower left side -->
        <!-- lower right side -->
        <div class="col" >
                <div class="card">
                        <h5 class="card-title" style="text-align: center; margin-top: 1rem; margin-bottom:-2rem;">Price Calculation</h5>
                        <div class="card-body" style="max-width: 21rem; margin-bottom:-0.5rem;">
                                <div class="row" style="margin-top:1rem">
                                    <div class="input-group mb-2" style="margin-left:1rem; ">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text">Fabric Amount:</div>
                                                </div>
                                                <input type="text" id="refNo" class="form-control" style="width: 30%"
                                        value="{{fabricWeight}}kg/dozen" style="width: 40%" readonly>
                                              </div>
                                </div>
            
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">Fabric Unit Price:</div>
                                              </div>
                                    <input type="number" id="refNo" class="form-control" style="width: 30%" name="fabricpriceservice.calculatePrice.fabric_unit_price"
                                        [(ngModel)]="fabricpriceservice.calculatePrice.fabric_unit_price" required> 
                                    <select name="currencyName" id="Currency" #cur (click)="setCurrency(cur.value)">
                                        <option *ngFor="let i of newcurrency">
                                            {{i.currencyName}}
                                        </option>
                                    </select>
                                </div>
        
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">Fabric Total Price:</div>
                                              </div>
                                    <input type="text" id="refNo" class="form-control" style="width: 30%"
                                        value="{{fabricpriceservice.calculatePrice.fabric_total_price}}" disabled>
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
                                </div>
            
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">RIM:</div>
                                              </div>
                                    <input type="number" id="refNo" class="form-control" style="width: 30%"
                                        [(ngModel)]="fabricpriceservice.calculatePrice.rib" required>
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
            
            
                                </div>
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">CM:</div>
                                              </div>
                                    <input type="number" id="refNo" class="form-control" style="width: 30%"
                                        [(ngModel)]="fabricpriceservice.calculatePrice.cm" required>
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
                                </div>
            
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">TRIM:</div>
                                              </div>
                                    <input type="number" id="refNo" class="form-control" style="width: 30%"
                                        [(ngModel)]="fabricpriceservice.calculatePrice.trim" required>
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
                                </div>
            
            
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">Print:</div>
                                              </div>
                                    <input type="number" id="refNo" class="form-control" style="width: 30%"
                                        [(ngModel)]="fabricpriceservice.calculatePrice.print" required>
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
                                </div>
            
            
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">DOC:</div>
                                              </div>
                                    <input type="number" id="refNo" class="form-control" style="width: 30%"
                                        [(ngModel)]="fabricpriceservice.calculatePrice.doc" required>
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
            
                                </div>
            
                                <button type="button" class="btn btn-outline-info" style="margin-left: 8rem;margin-bottom: 1rem;" (click)="calculate2()">
                                        Calculate
                                       </button>
            
                                       <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                    <div class="input-group-text">Per Dozen Price:</div>
                                                  </div>
                                    <input type="text" id="refNo" class="form-control" style="width: 30%"
                                         value="{{fabricpriceservice.calculatePrice.per_dozen_price}}" readonly="">
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
                                </div>
            
                                <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">Per Unit Price:</div>
                                              </div>
                                    <input type="text" id="refNo" class="form-control" style="width: 30%; "
                                         value="{{fabricpriceservice.calculatePrice.per_unit_price}}" readonly="">
                                    <a style="padding: 6px;"> {{setcurrency}}</a>
                                </div>
            
                                <!-- <div class="row" style="margin-top: 2rem">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info" style="margin-left: 5rem;"
                                            (click)="createAndUpdate2(fabricpriceservice.calculatePrice)">Add</button>
                                        <button type="button" class="btn btn-info" style="margin-left: 11rem;">Cancel</button>
            
                                    </div>
                                </div> -->
                            
                        </div>
                    </div>
        </div>
        <!-- end of lower right side -->
    </div>
</div>
<hr>
    <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
    <div class="col-md-auto" style="margin-bottom: 1rem;">
            <button type="button" class="btn btn-success" style="margin-left: 1rem; "
            (click)="onsubmit()">Save</button>
        <button type="button" class="btn btn-danger" style="margin-left: 1rem;">Clear</button>
    </div>
    <div class="col col-lg-2">
     
    </div>
  </div>
  </div>
  <div  class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsubmitting" style="align-content: center">
    Entry Created successfully.
  </div>
  
  <div  class="alert alert-success" role="alert" *ngIf="showeditmessage" style="align-content: center">
    Entry Edited successfully. Data Saved.
  </div>
  <div  class="alert alert-danger" role="alert" *ngIf="serverErrorMessages" style="align-content: center">
    Something went wrong, try again later.
  </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="showdeletemessage" style="align-content: center;">
        Entry Deleted.
      </div>
                
                      <div class="card-header">
                          <h2 style="text-align: center;">Entry List</h2>
                      </div>
              
                          <table class="table table-bordered" style="font-size: 12px;">
                              <thead>
                                  <tr>
                                      <th scope="col">No.</th>
                                      <th scope="col">Ref-ID</th>
                                      <th scope="col">Style Code</th>
                                      <th scope="col">Fabric amount<br>(kg/dozen)</th>
                                      <th scope="col">Fabric Unit Price</th>
                                      <th scope="col">Fabric total Price</th>
                                      <th scope="col">RIB</th>
                                      <th scope="col">CM</th>
                                      <th scope="col">TRIM</th>
                                      <th scope="col">Print</th>
                                      <th scope="col">DOC</th>
                                      <th scope="col">Per Dozen Price</th>
                                      <th scope="col">Per Unit Price</th>
      
                                  </tr>
                              </thead>
                              <tbody>
                                   <tr *ngFor="let p of fabricReport,index as i">
                                      <td>{{i+1}}</td>
                                      <td>{{p.reference}}</td>
                                      <td>{{p.stylecode}}</td>
                                      <td>{{p.fabricamount}}</td>
                                      <td>{{p.fabricunitprice+p.pricecurrencyunit}}</td>
                                      <td>{{p.fabrictotalprice+p.pricecurrencyunit }}</td>
                                      <td>{{p.rib+p.pricecurrencyunit }}</td>
                                      <td>{{p.cm+p.pricecurrencyunit}}</td>
                                      <td>{{p.trim+p.pricecurrencyunit}}</td>
                                      <td>{{p.print+p.pricecurrencyunit}}</td>
                                      <td>{{p.doc+p.pricecurrencyunit}}</td>
                                      <td>{{p.perdozenprice+p.pricecurrencyunit}}</td>
                                      <td>{{p.perunitprice+p.pricecurrencyunit}}</td>
                                      <td>
                                          <a class="btn text-success" (click)="onedit(p)">
                                              <i class="fa fa-edit"></i>
                                          </a>
      
                                      </td>
      
                                      <td>
                                          <a class="btn text-danger" (click)="ondelete(p)" >
                                              <i class="fa fa-trash"></i>
                                          </a>
                                      </td>
      
                                  </tr> 
      
                              </tbody>
                          </table>

</div>
<br> <hr>

                  
              
          
 

