<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="First Name" class="form-control" [(ngModel)]="employeeservice.currentEmployee.firstname">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Last Name" class="form-control" [(ngModel)]="employeeservice.currentEmployee.lastname">
    </div>
</div>


<div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="Designation" class="form-control" [(ngModel)]="employeeservice.currentEmployee.designation">
    </div>

</div>

<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="Contact" class="form-control" [(ngModel)]="employeeservice.currentEmployee.contact">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Address" class="form-control" [(ngModel)]="employeeservice.currentEmployee.address">
    </div>
</div>

<div class="row">
    <div class="uk-column-medium-1-2">
        <button class="btn btn-success btn-block btn-lg"
            (click)="createAndUpdate(employeeservice.currentEmployee)">SAVE</button>
    </div>
    <div class="uk-column-medium-1-1">
        <button class="btn btn-primary btn-block btn-log" (click)="clear()">CLEAR</button>
    </div>
</div>