
<div class="row">
    <div class="col-md-6 form-group">
       <!-- <label>Name</label> -->
        <input placeholder="First Name" class="for-control" [(ngModel)]="employeeService.currentEmployee.firstName">
    </div>
    
         <div class="col-md-6 form-group">
             <input placeholder="Last Name" class="for-control" [(ngModel)]="employeeService.currentEmployee.lastName">
         </div>
</div>
<div class="row"> 
        <div class="col-md-6 form-group">
           <!-- <label>Address</label> -->
            <input placeholder="Address" class="for-control" [(ngModel)]="employeeService.currentEmployee.Address">
        </div>

        <div class="col-md-6 form-group">
            <!-- <label>Address</label> -->
             <input placeholder="email" class="for-control" [(ngModel)]="employeeService.currentEmployee.email">
    </div>
</div>
<div class="row">
                <div class="col-md form-group">
                   <!-- <label>Phone</label> -->
                    <input placeholder="Phone" class="for-control" [(ngModel)]="employeeService.currentEmployee.Phone">
                </div></div>
 <div class="row">
     <div class="col-md-4">
     <button class="btn btn-success btn-block btn-sm" (click)="createAndUpdate(employeeService.currentEmployee)">Save</button>
 </div> 
 <div class= "col-md-4">
        <button class="btn btn-primary btn-block btn-sm" (click)="clear()">Delete</button>

 </div>
 </div>            