<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 style="text-align: center">Abloom Design Limited</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">Cutting Program Form</th>
                                <td>
                                    <div class="row">
                                        <div class="col">Season:</div>
                                        <div class="col" *ngFor="let a of AllDetails">{{a.season}}</div>
                                    </div>
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">Buyer Name:</div>
                                        <div class="col">
                                            <select name="" id="" style="width: 100%" (change)="OnBuyerSelection($event.target.value)">
                                                        <option selected></option>
                                                        <option value="{{a.buyerCode}}" *ngFor="let a of buyerinfo">{{a.name}}</option>
                                          </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Ref. No:</div>
                                        <div class="col">
                                            <select name="" id="" style="width: 100%" (change)="OnReferenceIdSelection($event.target.value)">
                                                <option value="" selected></option>
                                                <option value="{{a.referenceId}}" *ngFor="let a of AllReference">{{a.referenceId}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Order Date:</div>
                                        <div class="col"><input type="text"></div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">Style Code:</div>
                                        <div class="col">
                                            <select name="" id="" style="width: 100%" (change)="OnStyleCodeSelection($event.target.value)">
                                                <option value="" selected></option>
                                                <option value="{{a.styleCode}}" *ngFor="let a of tempo">{{a.styleCode}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Order Qty:</div>
                                        <div class="col" *ngFor="let a of temp2">{{a.fabricWeight}} kg</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Delivery Date:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">
                                    <div class="row">
                                        <div class="col-3">Description:</div>
                                        <div class="col-9" *ngFor="let a of temp2">Item Type: {{a.itemName}}, Fabric Type:{{a.fabricType}} GSM</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Lead Time:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col"><label for="">Color Name:</label></div>
                                    <div class="col">
                                        <input type="text" name="colorName" [(ngModel)]="colorName" autocomplete="on" required>
                                    </div>
                                    <div class="col" *ngFor="let a of color">
                                        <li>
                                            {{a}} <button type="button" (click)="deleteColor(a)">X</button>
                                        </li>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><label for="">Size:</label></div>
                                    <div class="col">
                                        <input type="number" name="sizeName" [(ngModel)]="sizeName" autocomplete="on" required>
                                    </div>
                                    <div class="col" *ngFor="let a of size">
                                        <li>
                                            {{a}}<button type="button" (click)="deleteSize(a)">X</button>
                                        </li>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col"><label for="">Quantity:</label></div>
                                    <div class="col"><input type="number"></div>
                                </div> -->
                                <div class="container">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-auto">
                                            <button type="button" class="btn btn-primary" (click)="addNew()">Add</button>
                                            <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Color/Size</th>
                                <th *ngFor="let a of size">{{a}}</th>
                                <th>TTL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let b of color,index as i">
                                <td>{{b}}</td>
                                <td *ngFor="let a of size,index as j">
                                    <input type="text" placeholder="kg" (keyup)="catch($event.target.value,i,j)">
                                </td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-2">Remark:</div>
                        <div class="col-10"><input type="text" style="width: 100%;"></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <button type="button" class="btn btn-primary" (click)="onSubmit(this.cutting)">Submit</button>

                    </div>

                </div>
            </div>
        </div>
    </div>