<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 style="text-align: center">Abloom Design Limited</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">Cutting Program Form</th>
                                <td>
                                    <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>
                                <td>
                                <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
<div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Description</td>
                                <td>
                                    <div class="row">
                                        <div class="col-4">Season:</div>
                                        <div class="col-8"><input type="text"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>