<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 style="text-align: center">Abloom Design Limited</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2">Cutting Program Form</th>
                                <td>
                                    <div class="row">
                                        <div class="col">Season:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">Buyer:</div>
                                        <div class="col">
                                            <select name="" id="" style="width: 100%">
                                                        <option value="" selected></option>
                                                        <option value="{{a.buyerCode}}" *ngFor="let a of allBuyers">{{a.name}}</option>
                                          </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Ref. No:</div>
                                        <div class="col">
                                            <select name="" id="" (change)="getAllInformation($event.target.value)" style="width: 100%">
                                                <option value="" selected></option>
                                                <option value="{{a}}" *ngFor="let a of allreferences">{{a}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Order Date:</div>
                                        <div class="col"><input type="text"></div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">Style:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Order Qty:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">Delivery Date:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Description</td>
                                <td>
                                    <div class="row">
                                        <div class="col">Lead Time:</div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>