<div class="card border-primary mb-3" style="max-width: 43rem; margin-left: 16rem;">
    <div class="card-header"><h2 style="text-align: center">Price Calculation</h2></div>
    <div class="card-group">
      <div class="card">
        
        <div class="card-body">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Mail Date:</div>
                </div>
                <input type="text" id="mailDate"  
                         bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                         class="form-control">
              </div>

              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Entry Date:</label>
                </div>
                <input type="text" id="mailDate"  
                         bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                         class="form-control">
              </div>

                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">ID:</label>
                  </div>
                  <input class="form-control" type="text" placeholder="{{autoID}}" style="width: 48%" disabled>
                </div>

                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Ref No:</label>
                  </div>
                  <input type="text" id="refNo" class="form-control" style="width: 30%" placeholder="Enter Reference Number"
                        name="Fc.currentFabricCalc.refNo" [(ngModel)]="Fc.currentFabricCalc.refNo" #refNo="ngModel"required>
                </div>

                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Buyer Name:</label>
                    </div>
                    <select class="custom-select" id="buyer_name" style="width: 60%;" name="Fc.currentFabricCalc.buyer_name" [(ngModel)]="Fc.currentFabricCalc.buyer_name" #buyer_name="ngModel" required>
                      <option value="{{b.name}}" *ngFor="let b of allBuyers">{{b.name}}</option>
                    </select>
                  </div>
          </div>
          <hr>
          <div class="card-body">
            <h5 style="text-align: center">Quotation Info</h5>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Code No:</div>
              </div>
              <input type="text" class="form-control" id="style_code" placeholder="Code Number" style="width: 12.5rem" 
              name="Fc.currentFabricCalc.style_code" [(ngModel)]="Fc.currentFabricCalc.style_code" onkeyup="this.value = this.value.toUpperCase();" #style_code="ngModel" required>
            </div>

            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Item Name:</label>
              </div>
              <select class="custom-select" id="itemName" style="width: 64%;" name="Fc.currentFabricCalc.style_item_name" [(ngModel)]="Fc.currentFabricCalc.style_item_name" #itemName="ngModel" required>
                <option value="{{i.itemName}}" *ngFor="let i of allItems">{{i.itemName}}</option>
              </select>
            </div>

            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Size:</label>
              </div>
              <select class="custom-select" style="width: 50%" id="size" name="Fc.currentFabricCalc.size" [(ngModel)]="Fc.currentFabricCalc.size" #size="ngModel" required>
               
                  <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                </select>
            </div>

              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                </div>
                <input type="text" id="refNo" class="form-control" style="width: 30%" placeholder="Enter Reference Number"
                      name="Fc.currentFabricCalc.refNo" [(ngModel)]="Fc.currentFabricCalc.refNo" #refNo="ngModel"required>
              </div>

              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                </div>
                <input type="text" class="form-control" id="inputEmail3" maxlength="4" placeholder="input" style="width: 30%" name="Fc.currentFabricCalc.chest" [(ngModel)]="Fc.currentFabricCalc.chest" required>
             
              </div>
            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                </div>
                <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 22%" name="Fc.currentFabricCalc.length" [(ngModel)]="Fc.currentFabricCalc.length" required>
            
              </div>
        
            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                </div>
                <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 24%" name="Fc.currentFabricCalc.sleeve" [(ngModel)]="Fc.currentFabricCalc.sleeve" required>
                
              </div>

              
        </div>
      </div>
      <div class="card">
       
        <div class="card-body" style="margin-bottom: -3rem; margin-top: 0rem">

              <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: -1rem">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Size:</label>
                  </div>
                  <select class="custom-select" style="width: 50%" id="size" name="Fc.currentFabricCalc.size" [(ngModel)]="Fc.currentFabricCalc.size" #size="ngModel" required>
                   
                      <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                    </select>
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                        New Size
                       </button>
                </div>
           
                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                    </div>
                    <select class="custom-select" style="width: 70%" id="fabrics" name="Fc.currentFabricCalc.fabrics" [(ngModel)]="Fc.currentFabricCalc.fabrics" #fabrics="ngModel" required>
                        <option value="{{f.fabric_name}}" *ngFor="let f of allFabricType">{{f.fabric_name}}</option>
                      </select>
                  </div>
               
                      <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                          </div>
                          <input type="text" class="form-control" id="inputEmail3" maxlength="4" placeholder="input" style="width: 30%" name="Fc.currentFabricCalc.chest" [(ngModel)]="Fc.currentFabricCalc.chest" required>
                          <select class="custom-select" style="width:40%" name="Fc.currentFabricCalc.chest_unit_of_measurement" [(ngModel)]="Fc.currentFabricCalc.chest_unit_of_measurement" required>
                             
                              <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                            </select>
                        </div>
                      <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                          </div>
                          <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 22%" name="Fc.currentFabricCalc.length" [(ngModel)]="Fc.currentFabricCalc.length" required>
                          <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.length_unit_of_measurement" [(ngModel)]="Fc.currentFabricCalc.length_unit_of_measurement" required>
                              
                              <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                            </select>
                        </div>
                  
                      <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                          </div>
                          <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 24%" name="Fc.currentFabricCalc.sleeve" [(ngModel)]="Fc.currentFabricCalc.sleeve" required>
                          <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.sleeve_unit_of_measurement" [(ngModel)]="Fc.currentFabricCalc.sleeve_unit_of_measurement" required>
                            
                              <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                            </select>
                        </div>

        </div>
       
      </div>
     
    </div>
  
  
    <div class="row" style="margin-top: 2%; margin-bottom:2%;">
        <div class="col"></div>
        <div class="col"></div>
      
      <div class="col"> <button type="submit" class="btn btn-success" style="margin-left: -2rem;" [disabled]="mainform.form.pristine || mainform.form.invalid">Submit</button></div>
      <div class="col"> <button type="submit" class="btn btn-danger" style="margin-left: -3rem;" (click)="clearAll()">Clear</button></div>
      <!-- <div class="col"><button type="submit" class="btn btn-primary" [routerLink]="['/report']" style="margin-left:-5rem;">Report</button></div>
      <div class="col"></div> -->
      
    </div>
    <div  class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsubmitting" style="align-content: center">
        Entry Created successfully
      </div>
      <div  class="alert alert-success" role="alert" *ngIf="showeditmessage" style="align-content: center">
        Entry Edited successfully
      </div>
    </div>
    