<table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">Opertions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let employee of allEmployee, index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{employee.fullname}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.contact}}</td>
            <td><a href="#" class="badge badge-info" (click)="edit(employee)">EDIT</a></td>
            <td><a href="#" class="badge badge-danger" (click)="deleteEmployee(employee.id)">DELETE</a></td>
          </tr>
         
        </tbody>
      </table> 