
<div class="row">
    <div class="col-md-6 form-group">
       <label>Name</label>
        <input placeholder="First Name" class="for-control">
    </div>
    
         <div class="col-md-6 form-group">
             <input placeholder="Last Name" class="for-control">
         </div>
</div>
<div class="row">
        <div class="col-md-12 form-group">
           <label>Address</label>
            <input placeholder="Address" class="for-control">
        </div></div>
<div class="row">
                <div class="col-md-12 form-group">
                   <label>Phone</label>
                    <input placeholder="Phone" class="for-control">
                </div></div>
 <div class="row">
     <div class="col-md-4">
     <button class="btn btn-success btn-block btn-lg">Save</button>
 </div> 
 <div class= "col-md-4">
        <button class="btn btn-primary btn-block btn-lg">Delete</button>

 </div>
 </div>            