<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-light">
                <div class="card-body">
                  <button type="button" class="btn btn-danger" routerLink="/products">Products</button>
                  <hr/>
                  <!-- product form -->
                  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
                    <div class="form-group">
                        <label>Name</label>
                        <input  formControlName="prod_name" type = "text" class="form-control">
                        <!-- Validation for prod_name -->
                        <span class="text-danger font-bold" *ngIf = "productForm.controls['prod_name'].invalid && (productForm.controls['prod_name'].dirty || productForm.controls['prod_name'].touched)">
                            *Name required</span>
                    </div>
                    
                  
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" formControlName="prod_desc" rows="3"></textarea>
                        <!-- Validation for prod_desc -->
                        <span class="text-danger font-bold" *ngIf = "productForm.controls['prod_desc'].invalid && (productForm.controls['prod_desc'].dirty || productForm.controls['prod_desc'].touched)">
                            *Description required</span>  
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input  formControlName="prod_price" type = "text" class="form-control"> 
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input  formControlName="updated_at" type = "date" class="form-control"> 
                    </div>
                    <button type="submit" *ngIf="productForm.valid" class="btn btn-success">Add</button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>