<div class="card border-primary mb-3" style="max-width: 55rem; margin-left: 15rem;">
        <div class="card-header">
            <h2 style="text-align: center">Price Calculation</h2>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card-group">
                    <div class="card">
    
                        <div class="card-body">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Mail Date:</div>
                                </div>
                                <input type="text" id="mailDate"
                                    value="{{Fc.currentFabricCalc.mailDate | date :'dd-MM-yyyy'}}" class="form-control"
                                    disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Entry Date:</label>
                                </div>
                                <input type="text" id="entryDate"
                                    value="{{Fc.currentFabricCalc.entryDate | date :'dd-MM-yyyy'}}" class="form-control"
                                    disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">ID:</label>
                                </div>
                                <input class="form-control" type="text" style="width: 48%"
                                    value="{{Fc.currentFabricCalc.fabricEntry_id}}" disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Ref No:</label>
                                </div>
                                <input type="text" id="refNo" class="form-control" style="width: 30%"
                                    placeholder="Enter Reference Number" #box (keyup.enter)="onEnter(box.value)" required>
    
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Buyer Name:</label>
                                </div>
                                <input type="text" class="form-control" id="style_code" style="width: 30%;"
                                      value="{{Fc.currentFabricCalc.buyer_name}}" disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 style="text-align: center">Quotation Info</h5>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Code No:</div>
                                </div>
                                <input type="text" class="form-control" id="style_code" placeholder="Code Number"
                                    style="width: 12.5rem" onkeyup="this.value = this.value.toUpperCase();"
                                    value="{{Fc.currentFabricCalc.style_code}}" disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Item Name:</label>
                                </div>
                                <input type="text" class="form-control" id="style_code" style="width: 30%;"
                                    value="{{Fc.currentFabricCalc.style_item_name}}" disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Size:</label>
                                </div>
                                <input type="text" class="form-control" id="style_code" style="width: 30%;"
                                    value="{{Fc.currentFabricCalc.size}}" disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                                </div>
                                <input type="text" id="refNo" class="form-control" style="width: 30%"
                                    value="{{Fc.currentFabricCalc.fabrics}}" disabled>
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="BoysTshirtSelected || JacketSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                                </div>
                                <input type="text" class="form-control" id="inputEmail3" maxlength="4" placeholder="input"
                                    style="width: 30%" value="{{Fc.currentFabricCalc.chest}}" disabled>
    
                            </div>
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="BoysTshirtSelected || JacketSelected || ShortsSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 22%" value="{{Fc.currentFabricCalc.length}}" disabled>
    
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="BoysTshirtSelected || JacketSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 24%" value="{{Fc.currentFabricCalc.sleeve}}" disabled>
    
                            </div>
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="JacketSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Sleeve type</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 24%"
                                    value="{{Fc.currentFabricCalc.style_sleeve_type}}" disabled>
    
                            </div>
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="JacketSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Hood:</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 24%" value="{{Fc.currentFabricCalc.hood}}" disabled>
    
                            </div>
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="JacketSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Bottom:</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 24%" value="{{Fc.currentFabricCalc.bottom}}" disabled>
    
                            </div>
    
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="ShortsSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">2/1 Thigh:</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 24%" value="{{Fc.currentFabricCalc.thigh}}" disabled>
    
                            </div>
                            <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem"
                                *ngIf="ShortsSelected">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Pocket:</label>
                                </div>
                                <input type="text" class="form-control" id="inputPassword3" maxlength="4"
                                    placeholder="input" style="width: 24%" value="{{Fc.currentFabricCalc.pocket}}" disabled>
    
                            </div>
    
    
                        </div>
    
    
                    </div>
                </div>
    
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="row">
    
                            <div class="col-md-4">
                                <span class="input-group-text" for="inputGroupSelect01">Calculation ID </span>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" value="{{calcId}}" disabled>
                            </div>
    
    
                        </div>
    
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-5">
    
                                <label class="input-group-text" for="inputGroupSelect01"> Fabric Weight</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                value="{{Fc.currentFabricCalc.fabric_weight}}" readonly>
    
                        </div>
    
    
    
    
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-5">
    
                                <label class="input-group-text" for="inputGroupSelect01"> Fabric Unit Price</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                [(ngModel)]="Pc.calculatePrice.fabric_unit_price" required>
                            <select name="currencyName" id="Currency" #cur (click)="setCurrency(cur.value)">
                                <option *ngFor="let i of newcurrency">
    
                                    {{i.currencyName}}
                                </option>
    
                            </select>
    
                        </div>
    
    
    
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-5">
    
                                <label class="input-group-text" for="inputGroupSelect01"> Fabric Total Price</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                value="{{Pc.calculatePrice.fabric_total_price}}" disabled>
                            <a style="padding: 6px;"> {{setcurrency}}</a>
                        </div>
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-4">
    
                                <label class="input-group-text" for="inputGroupSelect01"> RIB</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                [(ngModel)]="Pc.calculatePrice.rib" required>
                            <a style="padding: 6px;"> {{setcurrency}}</a>
    
    
                        </div>
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-4">
    
                                <label class="input-group-text" for="inputGroupSelect01"> CM</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                [(ngModel)]="Pc.calculatePrice.cm" required>
                            <a style="padding: 6px;"> {{setcurrency}}</a>
                        </div>
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-4">
    
                                <label class="input-group-text" for="inputGroupSelect01"> TRIM</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                [(ngModel)]="Pc.calculatePrice.trim" required>
                            <a style="padding: 6px;"> {{setcurrency}}</a>
                        </div>
    
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-4">
    
                                <label class="input-group-text" for="inputGroupSelect01"> Print</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                [(ngModel)]="Pc.calculatePrice.print" required>
                            <a style="padding: 6px;"> {{setcurrency}}</a>
                        </div>
    
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-4">
    
                                <label class="input-group-text" for="inputGroupSelect01"> DOC</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                [(ngModel)]="Pc.calculatePrice.doc" required>
                            <a style="padding: 6px;"> {{setcurrency}}</a>
    
                        </div>
    
                        <button type="button" class="btn btn-success btn-lg" style="margin-left: 18rem; margin-top: 1rem"
                            (click)="calculate()">Calculate</button>
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-5">
    
                                <label class="input-group-text" for="inputGroupSelect01"> Per Dozen Price</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                placeholder="Per Dozen Price" value="{{Pc.calculatePrice.per_dozen_price}}" readonly="">
                            <a style="padding: 6px;"> {{setcurrency}}</a>
                        </div>
    
                        <div class="row" style="margin-top:1rem">
                            <div class="col-md-5">
    
                                <label class="input-group-text" for="inputGroupSelect01"> Per Unit
                                    Price</label>
    
                            </div>
                            <input type="text" id="refNo" class="form-control" style="width: 30%"
                                placeholder="Per Unit Price" value="{{Pc.calculatePrice.per_unit_price}}" readonly="">
                            <a style="padding: 6px;"> {{setcurrency}}</a>
                        </div>
    
                        <div class="row" style="margin-top: 2rem">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info" style="margin-left: 5rem;"
                                    (click)="createAndUpdate(Pc.calculatePrice)">Add</button>
                                <button type="button" class="btn btn-info" style="margin-left: 11rem;">Cancel</button>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
    </div>
    <!---message--->
    <div class="alert alert-success row justify-content-md-center" *ngIf="showsuccessmessage">
        <p>Created New Price successfully</p>
    
    </div>
    <div class=" alert alert-danger row justify-content-md-center" *ngIf="showdeletemessage">
        <p>Deleted successfully</p>
    </div>
    <div class="alert alert-success row justify-content-md-center" *ngIf="showupdatemessage">
        <p>Updated successfully</p>
    </div>
    <!---------table-->
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card text-center">
                    <div class="card-header">
                        <h2> Price Calculation</h2>
                        <h4>Currency in {{setcurrency}}</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover border">
                            <thead>
                                <tr>
                                    <th scope="col">Calculation-ID</th>
                                    <th scope="col">Fabric amount</th>
                                    <th scope="col">Fabric Unit Price</th>
                                    <th scope="col">Fabric total Price</th>
                                    <th scope="col">RIB</th>
                                    <th scope="col">CM</th>
                                    <th scope="col">TRIM</th>
                                    <th scope="col">Print</th>
                                    <th scope="col">DOC</th>
                                    <th scope="col">Per Dozen Price</th>
                                    <th scope="col">Per Unit Price</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of allprice">
    
                                    <td>{{p.calculation_id}}</td>
                                    <td>{{p.fabric_weight}}</td>
                                    <td>{{p.fabric_unit_price+' '+p.PriceCurrency_UOM}}</td>
                                    <td>{{p.fabric_total_price+' '+p.PriceCurrency_UOM }}</td>
                                    <td>{{p.rib+' '+p.PriceCurrency_UOM }}</td>
                                    <td>{{p.cm+' '+p.PriceCurrency_UOM}}</td>
                                    <td>{{p.trim+' '+p.PriceCurrency_UOM}}</td>
                                    <td>{{p.print+' '+p.PriceCurrency_UOM}}</td>
                                    <td>{{p.doc+' '+p.PriceCurrency_UOM}}</td>
                                    <td>{{p.per_dozen_price+' '+p.PriceCurrency_UOM}}</td>
                                    <td>{{p.per_unit_price+' '+p.PriceCurrency_UOM}}</td>
                                    <td>
                                        <a class="btn text-success" (click)="edit(p)">
                                            <i class="fa fa-edit"></i>
                                        </a>
    
                                    </td>
    
                                    <td>
                                        <a class="btn text-danger" (click)="del(p)" data-toggle="modal"
                                            data-target="#exampleModal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
    
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" style="margin-left: 66rem; margin-top:2rem;" class="btn btn-secondary"
            [routerLink]="['/report']" routerLinkActive="router-link-active">Report</button>
        <button type="button" style="margin-left: 1rem; margin-top:2rem;" class="btn btn-secondary"
            [routerLink]="['/Preview_report']" routerLinkActive="router-link-active" click>Submit</button>
    </div>