<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div id="navbar" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item" >
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLink="/home">Home </a>
        </li>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLink="/dashboard">Dashboard </a>
          </li>
          <li class="nav-item">
              <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLink="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLink="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link" routerLink="/logout">Logout</a>
            </li>
         

      </ul>
   
    </div>
  </nav>