
<div class="card">
        <h5 class="card-title">Employee Information</h5>
    <div class="card-body">
    
<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="First Name" class="form-control" [(ngModel)]="list.currentEmployee.firstname">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Last Name" class="form-control" [(ngModel)]="list.currentEmployee.lastname">
    </div>
</div>


<div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="Designation" class="form-control" [(ngModel)]="list.currentEmployee.designation">
    </div>

</div>
<!-- <div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="_id" class="form-control" [(ngModel)]="employeeservice.currentEmployee._id">
    </div>

</div> -->

<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="Contact" class="form-control" [(ngModel)]="list.currentEmployee.contact">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Address" class="form-control" [(ngModel)]="list.currentEmployee.address">
    </div>
</div>

<div class="row">

    <div class="card-columns">
        <button class="btn btn-success" (click)="createAndUpdate(list.currentEmployee)">SAVE</button>
    </div>


    <div class="card-columns">
        <button class="btn btn-primary" (click)="clear()">CLEAR</button>
    </div>
</div>
    </div>
  </div>





<!---------------------------->
<div class="card">
  <div class="card-body">
    
<table class="table table-hover">
    <tr *ngFor="let emp of employeeList">
        <td>{{emp.firstname}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.contact}}</td>


        <td>
            <a class="btn text-danger" (click)="edit(emp)">
                <i class="fa fa-edit"></i>

            </a>
        </td>
        <td>
            <a class="btn text-danger" (click)="deleteEmployee(emp._id)">
                <i class="fa fa-trash"></i>

            </a>
        </td>
    </tr>
</table>
  </div>
</div>
