<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="First Name" class="form-control" [(ngModel)]="employeeservice.currentEmployee.firstname">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Last Name" class="form-control" [(ngModel)]="employeeservice.currentEmployee.lastname">
    </div>
</div>


<div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="Designation" class="form-control" [(ngModel)]="employeeservice.currentEmployee.designation">
    </div>

</div>
<!-- <div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="_id" class="form-control" [(ngModel)]="employeeservice.currentEmployee._id">
    </div>

</div> -->

<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="Contact" class="form-control" [(ngModel)]="employeeservice.currentEmployee.contact">
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Address" class="form-control" [(ngModel)]="employeeservice.currentEmployee.address">
    </div>
</div>

<div class="row">
   
    <div class="card-columns">
        <button class="btn btn-success" (click)="createAndUpdate(employeeservice.currentEmployee)">SAVE</button>
    </div>
  

    <div class="card-columns">
        <button class="btn btn-primary"  (click)="clear()">CLEAR</button>
    </div>
</div>