<!-- ENTRY FORM -->
<div class="container" style="font-size:14px;font-weight: 500;">
    <form name="mainform" (ngSubmit)="mainform.form.valid && onsubmit(FabPriService.currentEntry)" #mainform="ngForm" novalidate>

        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="card">

                    <div class="card-header">
                        <p style="text-align: center;color: red;"><span>&#9755; Red Marked fields cannot be left empty. &#9754;</span></p>
                        <div class="row mt-2">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="text-nowrap">
                                            ID:
                                        </div>
                                    </div>
                                    <div class="col-8 pl-1">
                                        <input type="text" placeholder="{{ autoID }}" class="w-100" readonly style="height: 90%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="text-nowrap">
                                            Entry Date:
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" title="Pick a Date" style="width: 66%;height: 90%;" id="entryDate" name="FabPriService.currentEntry.entryDate" [(ngModel)]="FabPriService.currentEntry.entryDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" #eDate="ngModel"
                                            readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="text-nowrap">
                                            Mail Date:
                                        </div>
                                    </div>
                                    <div class="col-8 pl-1">
                                        <input type="text" id="mailDate" title="Pick a Date" style="width: 66%;height: 90%;" name="FabPriService.currentEntry.mailDate" [(ngModel)]="FabPriService.currentEntry.mailDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" #mailDate="ngModel"
                                            readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-5 pr-0">
                                        <div class="text-nowrap">
                                            Reference Number:
                                        </div>
                                    </div>
                                    <div class="col-7 pl-1">
                                        <input type="text" style="text-transform:uppercase;text-align: center;text-align-last: center;" id="refNo" title="please enter number only" [disabled]="hiddingrefIdandStyleCode" placeholder="Reference Number" name="FabPriService.currentEntry.referenceId"
                                            [(ngModel)]="FabPriService.currentEntry.referenceId" #referenceId="ngModel" required class="w-100" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-4 pr-0">
                                        <div class="text-nowrap">
                                            Size:
                                        </div>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <input type="text" style="text-align: center;text-align-last: center;" title="please enter text only" placeholder="Size" name="FabPriService.currentEntry.size" [(ngModel)]="FabPriService.currentEntry.size" required class="w-100" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-3 pr-0">
                                <div class="text-nowrap">
                                    Buyer Information:
                                </div>
                            </div>
                            <div class="col-6">
                                <select title="please select one" style="text-align: center;text-align-last: center;" name="FabPriService.currentEntry.buyerCode" [(ngModel)]="FabPriService.currentEntry.buyerCode" (change)="BuyerAddress($event.target.value)" #buyerName="ngModel" required
                                    class="w-100">
                  <option value="{{b.buyerCode}}" *ngFor="let b of allBuyers">{{b.name}}</option>
                        </select>
                            </div>
                            <div class="col-3 pl-0">
                                <button type="button" style="height: 94%;" class="btn btn-primary btn-sm">Add New Buyer</button>
                            </div>
                        </div>
                        <div class="row mt-2">

                            <div class="col-6 pr-0" *ngFor="let p of buyerAddressInfo,index as i">
                                Buyer Address: {{p.upazila}}, {{p.district}}
                            </div>
                            <div class="col-2 pl-5">
                                <label for="">Season:</label>
                            </div>
                            <div class="col-3 pl-0">
                                <input type="text" style="text-align: center;text-align-last: center;" title="please enter text only" placeholder="Season" name="FabPriService.currentEntry.season" [(ngModel)]="FabPriService.currentEntry.season" required class="w-100" />
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="border-right:5px solid; ">
                                <!-- <div class="card"> -->
                                <!-- <div class="card-body mr-0"> -->
                                <div class="fabricdiv">
                                    <h5>Fabric Calculation</h5>
                                    <div class="row">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Fabric type:</label></div>
                                        <div class="col-5">
                                            <select id="fabrics" style="text-align: center;text-align-last: center;" name="FabPriService.currentEntry.fabricPriceInformation[0].fabricType" [(ngModel)]="
                                                    FabPriService.currentEntry.fabricPriceInformation[0]
                                                      .fabricType
                                                  " #fabrics="ngModel" title="please select one" required>
                                                  <option
                                                    value="{{ f.fabric_name }}"
                                                    *ngFor="let f of allFabricType"
                                                    >{{ f.fabric_name }} GSM</option
                                                  >
                                                </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Style Code:</label></div>
                                        <div class="col-5">
                                            <input type="text" title="please enter number only" id="style_code" placeholder="Code" name="FabPriService.currentEntry.fabricPriceInformation[0].styleCode" style="text-transform: uppercase;height: 80%;text-align: center;text-align-last: center;" [(ngModel)]="
                                                      FabPriService.currentEntry.fabricPriceInformation[0]
                                                        .styleCode
                                                    " #styleCode="ngModel" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Item Name:</label></div>
                                        <div class="col-6">
                                            <select title="please select one" id="itemName" style="text-align: center;text-align-last: center;" name="FabPriService.currentEntry.fabricPriceInformation[0].itemName" [(ngModel)]="FabPriService.currentEntry.fabricPriceInformation[0].itemName
                                                    " #itemName="ngModel" (change)="selectSwitch(itemName.value)" required>
                          <option
                            value="{{ i.itemName }}"
                            *ngFor="let i of allItems"
                            >{{ i.itemName }}</option
                          >
                        </select>
                                        </div>
                                        <div class="col-3 pl-0">
                                            <button type="button" style="height: 94%;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Add Item</button>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Wastage:</label></div>
                                        <div class="col-5">
                                            <input type="number" class="" style="direction: rtl;height: 80%;" id="inputEmail3" minlength="1" name="defaultWastePercentage" step="any" title="please enter number only" [(ngModel)]="defaultWastePercentage" (keyup)="calculation()" />
                                        </div>
                                        <div class="col-4">
                                            <span>%</span>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="BoysTshirtSelected || JacketSelected">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Chest Size:</label></div>
                                        <div class="col-5">
                                            <input type="number" style="width: 100%;direction: rtl;" class="" id="chest" minlength="2" step="any" title="please enter number only" name="FabPriService.currentEntry.fabricPriceInformation[0].chestSize" (keyup)="calculation()" [(ngModel)]="
                            FabPriService.currentEntry.fabricPriceInformation[0]
                              .chestSize
                          " required />
                                        </div>
                                        <div class="col-3">
                                            <select title="select an unit" name="defaultUnitofMeasurement" [(ngModel)]="defaultUnitofMeasurement" #unit (change)="setUnit(unit.value)" required>
                                                <option value="cm" selected>cm</option>
                                                <option value="Inch">Inch</option>
                                              </select>
                                        </div>

                                    </div>
                                    <div class="row" *ngIf="BoysTshirtSelected || JacketSelected">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Length Size:</label></div>
                                        <div class="col-5">
                                            <input type="number" class="" style="width: 100%;direction: rtl;" id="length" minlength="2" step="any" title="please enter number only" name="FabPriService.currentEntry.fabricPriceInformation[0].lengthSize" (keyup)="calculation()" [(ngModel)]="
                            FabPriService.currentEntry.fabricPriceInformation[0]
                              .lengthSize
                          " required />
                                        </div>
                                        <div class="col-3">
                                            <select title="select an unit" name="defaultUnitofMeasurement" [(ngModel)]="defaultUnitofMeasurement" #unit (change)="setUnit(unit.value)" required>
                                                <option value="cm" selected>cm</option>
                                                <option value="Inch">Inch</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="BoysTshirtSelected || JacketSelected">
                                        <div class="col-3"><label for="" style="white-space: nowrap">Sleeve Size:</label></div>
                                        <div class="col-5">
                                            <input type="number" class="" id="inputPassword3" minlength="2" style="width: 100%;direction: rtl;" step="any" title="please enter number only" required name="FabPriService.currentEntry.fabricPriceInformation[0].sleeveSize" (keyup)="calculation()" [(ngModel)]="
                            FabPriService.currentEntry.fabricPriceInformation[0]
                              .sleeveSize
                          " />
                                        </div>
                                        <div class="col-3">
                                            <select title="select an unit" name="defaultUnitofMeasurement" [(ngModel)]="defaultUnitofMeasurement" #unit (change)="setUnit(unit.value)" required>
                                                <option value="cm" selected>cm</option>
                                                <option value="Inch">Inch</option>
                                              </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row" *ngIf="CalculateButtonPressed">
                                        <div class="col-3" style="white-space: nowrap">
                                            <label for="">Fabric Weight:</label>
                                        </div>
                                        <div class="col-5">
                                            <p style="background-color: yellow;border: 2px solid green;white-space: nowrap;padding-left: 1rem;">
                                                {{ FabPriService.currentEntry.fabricPriceInformation[0] .fabricWeight }}
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <p>kg per dozen</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                            <div class="col">
                                <!-- <div class="card"> -->
                                <!-- <div class="card-body mr-0"> -->
                                <div class="pricediv">
                                    <h5>Price Calculation</h5>
                                    <div class="row">
                                        <div class="col-4" style="white-space: nowrap">
                                            <label for="">Fabric Unit Price:</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="number" id="refNo" class="" name="FabPriService.currentEntry.fabricPriceInformation[0].fabricUnitPrice" step="any" title="please enter number only" [(ngModel)]="
                            FabPriService.currentEntry.fabricPriceInformation[0].fabricUnitPrice" style="width: 100%;direction: rtl;" required (keyup)="calculation()" />

                                        </div>
                                        <div class="col-4">
                                            <select title="please select one" id="Currency" #cur (change)="setCurrency(cur.value)" name="defaultCurrency" [(ngModel)]="defaultCurrency" style="width: 70%" required>
                                                <option value="USD" selected >
                                                  USD
                                                  </option>
                                                  <option value="EUR"  >
                                                      EUR
                                                      </option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="CalculateButtonPressed">
                                        <div class="col-4" style="white-space: nowrap">
                                            <label for="">Fabric Total Price:</label>
                                        </div>
                                        <div class="col-4">
                                            <p style="padding-left:1rem;background-color: gray;border: 2px solid black;white-space: nowrap;color: azure;margin-bottom:0;" step="0.02">
                                                {{ FabPriService.currentEntry.fabricPriceInformation[0] .fabricTotalPrice }}
                                            </p>

                                        </div>
                                        <div class="col-4">
                                            <span>{{defaultCurrency}}</span>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-4"><label for="">CM Price: </label></div>
                                        <div class="col-4">
                                            <input type="number" id="refNo" class="" step="any" (keyup)="calculation()" title="please enter number only" name="FabPriService.currentEntry.fabricPriceInformation[0].cmPrice" [(ngModel)]="FabPriService.currentEntry.fabricPriceInformation[0].cmPrice"
                                                style="width: 100%;direction: rtl;" required>
                                        </div>
                                        <div class="col-4">
                                            <select title="please select one" id="Currency" #cur (change)="setCurrency(cur.value)" name="defaultCurrency" [(ngModel)]="defaultCurrency" style="width: 70%" required>
                                                <option value="USD" selected >
                                                  USD
                                                  </option>
                                                  <option value="EUR"  >
                                                      EUR
                                                      </option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><label for="">RIM Price:</label></div>
                                        <div class="col-4">
                                            <input type="number" id="refNo" class="" (keyup)="calculation()" name="FabPriService.currentEntry.fabricPriceInformation[0].rimPrice" step="any" title="please enter number only" [(ngModel)]="FabPriService.currentEntry.fabricPriceInformation[0].rimPrice"
                                                style="width: 100%;direction: rtl;" required>

                                        </div>
                                        <div class="col-4">
                                            <select title="please select one" id="Currency" #cur (change)="setCurrency(cur.value)" name="defaultCurrency" [(ngModel)]="defaultCurrency" style="width: 70%" required>
                                                <option value="USD" selected >
                                                  USD
                                                  </option>
                                                  <option value="EUR"  >
                                                      EUR
                                                      </option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><label for="">TRIM Price:</label></div>
                                        <div class="col-4">
                                            <input type="number" id="refNo" style="width: 100%;direction: rtl;" (keyup)="calculation()" name="FabPriService.currentEntry.fabricPriceInformation[0].trimPrice" step="any" title="please enter number only" [(ngModel)]="FabPriService.currentEntry.fabricPriceInformation[0].trimPrice"
                                                required>

                                        </div>
                                        <div class="col-4">
                                            <select title="please select one" id="Currency" #cur (change)="setCurrency(cur.value)" name="defaultCurrency" [(ngModel)]="defaultCurrency" style="width: 70%" required>
                                                <option value="USD" selected >
                                                  USD
                                                  </option>
                                                  <option value="EUR"  >
                                                      EUR
                                                      </option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><label for="">DOC Price:</label></div>
                                        <div class="col-4">
                                            <input type="number" id="refNo" class="" style="width: 100%;direction: rtl;" (keyup)="calculation()" name="FabPriService.currentEntry.fabricPriceInformation[0].docPrice" step="any" title="please enter number only" [(ngModel)]="FabPriService.currentEntry.fabricPriceInformation[0].docPrice"
                                                required>

                                        </div>
                                        <div class="col-4">
                                            <select title="please select one" id="Currency" #cur (change)="setCurrency(cur.value)" name="defaultCurrency" [(ngModel)]="defaultCurrency" style="width: 70%" required>
                                                <option value="USD" selected >
                                                  USD
                                                  </option>
                                                  <option value="EUR"  >
                                                      EUR
                                                      </option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"><label for="">PRINT Price:</label></div>
                                        <div class="col-4">
                                            <input type="number" id="refNo" class="" style="width: 100%;direction: rtl;" (keyup)="calculation()" name="FabPriService.currentEntry.fabricPriceInformation[0].printPrice" step="any" title="please enter number only" [(ngModel)]="FabPriService.currentEntry.fabricPriceInformation[0].printPrice"
                                                required>
                                        </div>
                                        <div class="col-4">
                                            <select title="please select one" id="Currency" #cur (change)="setCurrency(cur.value)" name="defaultCurrency" [(ngModel)]="defaultCurrency" style="width: 70%" required>
                                                <option value="USD" selected >
                                                  USD
                                                  </option>
                                                  <option value="EUR"  >
                                                      EUR
                                                      </option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="CalculateButtonPressed">
                                        <div class="col-4" style="white-space: nowrap">
                                            <label for="">Per Dozen Price:</label>
                                        </div>
                                        <div class="col-4 pl-0" step="0.02">

                                            <p style="background-color: yellow;border: 2px solid green;white-space: nowrap;margin-left: 1rem;padding-left: 1rem;margin-bottom:0;">
                                                {{ FabPriService.currentEntry.fabricPriceInformation[0] .perDozenPrice }}
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <span>{{defaultCurrency}}</span>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="CalculateButtonPressed">
                                        <div class="col-4" style="white-space: nowrap">
                                            <label for="">Per Unit Price:</label>
                                        </div>
                                        <div class="col-4 pl-0" step="0.02">

                                            <p style="background-color: yellow;border: 2px solid green;white-space: nowrap;margin-left: 1rem;padding-left: 1rem;margin-bottom:0;">
                                                {{ FabPriService.currentEntry.fabricPriceInformation[0] .perUnitPrice }}
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <span>{{defaultCurrency}}</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row" style="margin-top:0rem;margin-bottom:0rem;">
                            <div class="col-2"> </div>
                            <!-- <div class="col ml-5 ">
                            </div>
                            <div class="col ml-1">
                            </div> -->
                            <div class="col-8">
                                <button type="submit" class="btn btn-success ml-5 mr-0" [disabled]="mainform.form.pristine || mainform.form.invalid">Submit</button>
                                <button type="button" class="btn btn-danger mr-0 ml-5" (click)="clearAll()">Clear All</button>
                                <button type="button" class="btn btn-primary ml-5">Report</button>



                            </div>

                            <div class="col-2"> </div>
                        </div>
                        <br>
                        <div class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsubmitting" style="align-content: center">
                            Entry Created successfully.
                        </div>

                        <div class="alert alert-success" role="alert" *ngIf="showeditmessage" style="align-content: center">
                            Entry Edited successfully. Data Saved.
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessages" style="align-content: center">
                            Something went wrong, try again later. Thank you.
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="showdeletemessage" style="align-content: center;">
                            Entry Deleted.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- END OF ENTRY FORM -->
<hr>
<!-- SEARCH BY REFERENCE PART STARTS -->
<div class="container">
    <div class="row justify-content-md-center">

        <div class="col-md-auto">
            <h3 style="text-align: center;">Entry Lists</h3>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="mr-2">Search by Reference:</div>
                </div>
                <select class="" (change)="SearchByReference($event.target.value)">
                           <option option selected></option>   
                          <option value="{{i}}" *ngFor="let i of allReference"> {{i}}</option>
                      </select>
            </div>
        </div>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Ref-ID</th>
                    <th scope="col">Style Code</th>
                    <th scope="col">Fabric amount<br>(kg/dozen)</th>
                    <th scope="col">Fabric Unit Price</th>
                    <th scope="col">Fabric total Price</th>
                    <!-- <th scope="col">RIB</th>
                    <th scope="col">CM</th>
                    <th scope="col">TRIM</th>
                    <th scope="col">Print</th>
                    <th scope="col">DOC</th> -->
                    <th scope="col">Price<br>(per dozen)</th>
                    <th scope="col">Price<br>(Per Unit)</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of entryShowList,index as i">
                    <td>{{i+1}}</td>
                    <td>{{p.referenceId}}</td>
                    <td>{{p.styleCode}}</td>
                    <td>{{p.fabricWeight}}</td>
                    <td>{{p.fabricUnitPrice}}</td>
                    <td>{{p.fabricTotalPrice}}</td>
                    <!-- <td>{{p.rimPrice}}</td>
                    <td>{{p.cmPrice}}</td>
                    <td>{{p.trimPrice}}</td>
                    <td>{{p.printPrice}}</td>
                    <td>{{p.docPrice}}</td> -->
                    <td>{{p.perDozenPrice}}</td>
                    <td>{{p.perUnitPrice}}</td>
                    <td>
                        <a class="btn text-success" (click)="onedit(p)">
                            <i class="fa fa-edit"></i>
                        </a>

                    </td>

                    <td>
                        <a class="btn text-danger" (click)="ondelete(p)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

</div>
<!-- END OF SEARCH BY REFERENCE PART -->

<!-- ADD ITEM MODAL PART -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="form" (ngSubmit)="f.form.valid && createItem(In.currentItem)" #f="ngForm" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">

                    <div class="container">

                        <div class="row">
                            <div class="col-4">
                                <label for="">Item Name:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" name="In.currentItem.itemName" [(ngModel)]="In.currentItem.itemName" required>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <div class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsize" style="align-content: left;">
                        Item Name Added successfully
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="showDuplicateErrorMessage" style="align-content: left;">
                        Duplicate Name Found.Please Change the name and try again.
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="f.form.pristine || f.form.invalid">Add</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- END OF MODAL PART -->