<div class="knitting_balance">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6 bg_color_one">
        <fieldset class="parent_fieldset">
          <legend class="font-italic">Knitting Maching Target Entry Form</legend>
          <table class="table table-bordered ">
            <tbody>
              <tr>

                <td>
                  <input type="text" #season="ngModel" class="form-control" [(ngModel)]="knitting.season" name="season"
                    placeholder="Season:">
                <td>
                  <input type="text" class="form-control" [(ngModel)]="knitting.orderdate" name="orderdate"
                    placeholder="Order Date:">

                </td>
              </tr>

              <tr>
                <td><select class="custom-select" [(ngModel)]="knitting.orderNo" name="orderNo">
                    <option value="">Order No:</option>
                    <option value="2">1</option>
                    <option value="3">1</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                  </select>
                </td>

                <td> <input type="text" class="form-control" [(ngModel)]="knitting.orQty" name="orQty"
                    placeholder="Order Qty:"> </td>

              </tr>
              <tr>

                <td><input type="text" class="form-control" [(ngModel)]="knitting.style" name="style"
                    placeholder="Style#"></td>

                <td> <input type="text" class="form-control" [(ngModel)]="knitting.dDate" name="dDate"
                    placeholder="Delivery Date:"></td>

              </tr>
              <tr>

                <td><input type="text" class="form-control" [(ngModel)]="knitting.refNo" name="refNo"
                    placeholder="Ref No:"></td>

                <td> <input type="text" class="form-control" [(ngModel)]="knitting.leadDate" name="leadDate"
                    placeholder="Lead Date:"></td>

              </tr>
              <tr>

                <td colspan="2"><input type="text" class="form-control" [(ngModel)]="knitting.buyer" name="buyer"
                    placeholder="Buyer:"></td>

              </tr>
              <tr>

                <td colspan="2"><input type="text" class="form-control" [(ngModel)]="knitting.description"
                    name="description" placeholder="Description:"></td>

              </tr>
            </tbody>
          </table>
          <div class="target_form">
            <div class="row justify-content-md-center">
              <div class="col-md-10 bg_color_two">
                <fieldset class="child_fieldset">
                  <legend class="font-italic">Target Form</legend>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Machine Name</div>
                    <div class="col-8">
                      <select class="custom-select" [(ngModel)]="knitting.machineName" name="machineList">
                        <option value="1">Machine List</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                      </select>
                     <!-- <input type="text" class="form-control" [(ngModel)]="knitting.ptarget" placeholder="Target"> -->
                    </div>
                  </div>
                  
                  <div class="row mb-2">
                      <div class="col-4 text-right">Production Target</div>
                      <div class="col-8">
                        <input type="text"  class="form-control" [(ngModel)]="knitting.ptarget" name="ptarget"
                          placeholder="Target">
                      </div>
                    </div>

                  <div class="row mb-2">
                    <div class="col-4 text-right">Per-Shift Capacity</div>
                    <div class="col-8">
                      <input type="text" readonly class="form-control" [(ngModel)]="knitting.capacity" name="capacity"
                        placeholder="250kg">
                    </div>
                  </div>


                  <div class="row mb-2">
                    <div class="col-4 text-right">Operator Name</div>
                    <div class="col-5">
                      <select class="custom-select" [(ngModel)]="knitting.operatorName" name="operatorList">
                        <option value="1">Operator List</option>
                        <option value="2">1</option>
                        <option value="3">1</option>
                        <option value="4">3</option>
                        <option value="5">4</option>

                      </select>
                    </div>

                    <div class="col-3">
                      <button type="submit" class="btn btn-info">Add</button>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Date</div>
                    <div class="col-8">
                      <input type="text" class="form-control" [(ngModel)]="knitting.date" name="data"
                        placeholder="date">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Shift</div>
                    <div class="col-8">
                      <select class="custom-select" [(ngModel)]="knitting.shift" name="shift">
                        <option value="0">shift</option>
                        <option value="1">8 hr = 1 shift</option>
                        <option value="2">16 hr = 2 shift</option>
                      </select>
                    </div>
                  </div>


                  <div class="row mb-2">
                    <div class="col-4 text-right">Production</div>
                    <div class="col-5">
                      <input type="text" class="form-control" [(ngModel)]="knitting.production"
                        placeholder="Production">
                    </div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-success" (click)="getBalance()">+/-</button>
                    </div>

                  </div>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Balance</div>
                    <div class="col-4">
                      <input type="text" readonly class="form-control" [(ngModel)]="knitting.balance" name="balance" placeholder="Amount">
                    </div>
                    <div class="col-4">
                        <input type="text" readonly class="form-control" [(ngModel)]="knitting.extra" name="extra" placeholder="Extra">
                      <!-- <select class="custom-select" name="Auto">
                        <option value="1">B</option>
                        <option value="2"> 1 </option>
                        <option value="3">2</option>
                      </select> -->
                    </div>

                  </div>

                  <div class="row mb-2">
                    <div class="col-4 text-right">Roll</div>
                    <div class="col-8">
                      <input type="text" class="form-control" [(ngModel)]="knitting.roll" name="roll"
                        placeholder="Roll">
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-4 text-right">Remarks</div>
                    <div class="col-8">
                      <input type="text" class="form-control"  [(ngModel)]="knitting.remarks" name="Remarks">
                        
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-md-12 custom_button">
                      <button type="submit" class="btn btn-primary mr-2" (click)="onClick()">Submit</button>
                      <button type="submit" class="btn btn-danger">Report</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>