/* global css */
fieldset{
    border-width: .5px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border-color: #000;
    padding: 0 15px;
}

legend{
    width: auto;
    font-size: 16px;
}
/* global css */

.wrapper .target_form{
    padding: 2% 0 4% 0;
}