<div class="card">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link" href="#">about</a>
            </div>
        </div>
      </nav>
</div>

<div class="card">
    <h2>Speak Up</h2>
    <form action="/html/tags/html_form_tag_action.cfm" method="post">
        
        <textarea name="comments" id="comments" style="width:96%;height:90px;background-color:burlywood;color:olive;border:none;padding:2%;font:22px/30px sans-serif;">
        </textarea>
        <div class="btn-toolbar">
                <div class="btn-group">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            January
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="active">January</a></li>
                            <li><a href="#">February</a></li>
                            <!-- ... -->
                        </ul>
                    </div>
                    <div class="btn-group">
                            <select class="form-control">
                                    <option>Public</option>
                                    <option>Private</option>
                                </select>
                    </div>
                </div>
                </div>
        <input type="submit" value="Submit" style="background-color:mediumslateblue;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
        </form>
</div>
