<!-- Side navigation -->
<div>
    <button type="button" routerLink="/dashboard">Dashboard</button>
   
    <button type="button" (click)="onLogout()">Logout</button>

   
    </div>





<table *ngIf="userDetails" class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>First Name</td>
          <td>{{userDetails.fullName.split(' ')[0]}}</td>
      </tr>
      <tr>
          <td>Last Name</td>
          <td>{{userDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <!-- <tr>
          <td colspan="2" class="text-center">
              <input type="button" (click)="onLogout()" value="Logout" />
          </td>
      </tr> -->
  </tbody>
</table>
<hr>
<h1 style="text-align: center;">Your Posts</h1>
<div class="card-deck">
    <div class="card" *ngFor = "let b of allblog">
      
      <div class="card-body">
        <h5 class="card-title">{{b.post_title}}</h5>
        <p class="card-text">{{b.post_description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{b.post_location}}</small>
      </div>
    </div>
    
  
  </div>
  <hr>

 
