<div class="knitting_balance">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 bg_color_one">
        <fieldset class="parent_fieldset">
          <legend class="font-italic">Machinewise Daily Knitting Status Form</legend>
          <table class="table table-bordered ">
            <tbody>
              <tr>
                <td>
                    <div class="row mb-2">
                        <div class="col-4 text-right">Season:</div>
                        <div class="col-8">
                          <!-- <input type="text"  class="form-control" [(ngModel)]="knitting.season" name="season"
                            placeholder="season"> -->
                            <select class= "custom-select"  [(ngModel)]="knitting.season" name="season">
                              <option value="0"></option>
                              <option value="1">Summer</option>
                              <option value="2">Winter</option>
                            </select>
                        </div>
                      </div>
                      </td>
                   
                  <!-- <input type="text" #season="ngModel" class="form-control" [(ngModel)]="knitting.season" name="season"
                    placeholder="Season:"> -->
                <td>

                    <div class="row mb-2">
                        <div class="col-4 text-right">Order Date:</div>
                        <div class="col-8">
                          <input type="text" readonly class="form-control" [(ngModel)]="knitting.orderdate" name="orderdate">
                        </div>
                      </div>
<!-- 
                  <input type="text" class="form-control" [(ngModel)]="knitting.orderdate" name="text"
                    placeholder="Order Date: "> -->

                </td>
              </tr>

              <tr>
                <td>
                    <div class="row mb-2">
                        <div class="col-4 text-right">Order No:</div>
                        <div class="col-8">
                          <select class="custom-select" [(ngModel)]="knitting.orderNo" (change)= getValue() name="orderNo">
                    <option value="">Order No:</option>
                    <option value=2>1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                  </select>
                  </div>
                  </div>
                </td>

                <td> 
                    <div class="row mb-2">
                        <div class="col-4 text-right">Order Quantity:</div>
                        <div class="col-8">
                  <input type="text" readonly class="form-control"  [(ngModel)]="knitting.orQty" name="orQty"
                    placeholder="Order Qty:"> 
                  </div>
                  </div>
                  </td>
              </tr>
              <tr>
                <td>
                  <div class="row mb-2">
                      <div class="col-4 text-right">Style:</div>
                      <div class="col-8">

                <input type="text" readonly class="form-control"  [(ngModel)]="knitting.style" name="style">
                </div>
                </div>

                  </td>

                <td> 
                    <div class="row mb-2">
                        <div class="col-4 text-right">Delivery Date:</div>
                        <div class="col-8"> 
                  <input type="text" readonly class="form-control"  [(ngModel)]="knitting.dDate" name="dDate">
                  </div>
                  </div>
                  </td>

              </tr>
              <tr>
                <td>
                  <div class="row mb-2">
                      <div class="col-4 text-right">Reference No:</div>
                      <div class="col-8">
                <input type="text" readonly class="form-control"  [(ngModel)]="knitting.refNo" name="refNo">
                    
                </div>
                </div>
                  </td>

                <td>
                    <div class="row mb-2">
                        <div class="col-4 text-right">Lead Date:</div>
                        <div class="col-8">
                  <input type="text" readonly class="form-control"  [(ngModel)]="knitting.leadDate" name="leadDate">
                  <!-- <input type="text" name="date" value="{{myDate | date}}"> -->
                    
                  </div>
                  </div>
                  </td>

              </tr>

              <!-- <tr>
                  <td>
                    <div class="row mb-2">
                        <div class="col-4 text-right">Buyer:</div>
                        <div class="col-8">
                  <input type="text" class="form-control" [(ngModel)]="knitting.buyer" name="buyer">
                      
                  </div>
                  </div>
                    </td>
  
                  <td>
                      <div class="row mb-2">
                          <div class="col-4 text-right">Description:</div>
                          <div class="col-8">
                    <input type="text" class="form-control" [(ngModel)]="knitting.description" name="Description">
                      
                    </div>
                    </div>
                    </td>
  
                </tr> -->
              <tr>
                  <td colspan="2">
                  <div class="row mb-2">
                      <div class="col-2 text-right">Buyer:</div>
                      <div class="col-10">
               <input type="text" readonly class="form-control"  [(ngModel)]="knitting.buyer" name="buyer">
                     
                </div>
                </div>
                  </td>

              </tr>
              <tr>
                  <td colspan="2">
                  <div class="row mb-2">
                      <div class="col-2 text-right">Description:</div>
                      <div class="col-10"> 

               <input type="text" readonly class="form-control"  [(ngModel)]="knitting.description" name="description" >
                </div>
                </div>
                  </td>

              </tr>
            </tbody>
          </table>
          <div class="target_form">
            <div class="row justify-content-md-center">
              <div class="col-md-10 bg_color_two">
                <fieldset class="child_fieldset">
                  <legend class="font-italic">Target Form</legend>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Machine Name</div>
                    <div class="col-5">
                      <select class="custom-select" [(ngModel)]="knitting.machineName" name="machineList">
                        <option value="1">Machine List</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                      </select>
                     <!-- <input type="text" class="form-control" [(ngModel)]="knitting.ptarget" placeholder="Target"> -->
                    </div>
                  </div>
                  
                  <div class="row mb-2">
                      <div class="col-4 text-right">Production Target</div>
                      <div class="col-3">
                        <input type="text"  readonly class="form-control" [(ngModel)]="knitting.ptarget" name="ptarget"
                          placeholder="Target">
                      </div>
                      <div class="col-2">
                        <input type="text" class="form-control" readonly placeholder="kg">

                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-4 text-right">Per-Shift Capacity</div>
                      <div class="col-3">
                        <input type="text"  readonly class="form-control" [(ngModel)]="knitting.capacity" name="capacity"
                          placeholder="250">
                      </div>
                      <div class="col-2">
                        <input type="text" class="form-control" readonly placeholder="kg">

                      </div>
                    </div>

                  <!-- <div class="row mb-2">
                    <div class="col-4 text-right">Per-Shift Capacity</div>
                    <div class="col-5">
                      <input type="text" readonly class="form-control" [(ngModel)]="knitting.capacity" name="capacity"
                        placeholder="250kg">
                    </div>
                  </div> -->


                  <div class="row mb-2">
                    <div class="col-4 text-right">Operator Name</div>
                    <div class="col-3">
                      <select class="custom-select" [(ngModel)]="knitting.operatorName" name="operatorList">
                        <option value="1">Operator List</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>

                      </select>
                    </div>

                    <div class="col-2">
                      <button type="submit" class="btn btn-info">Add</button>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Date</div>
                    <div class="col-8">
                      <!-- {{myDate | date}} -->
                       <!-- <input type="date" class="form-control" [(ngModel)]="knitting.date" name="date" 
                        >  -->
                        <input type="text" [(ngModel)]="knitting.date" name="date">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Shift</div>
                    <div class="col-5">
                      <select class="custom-select" [(ngModel)]="knitting.shift" name="shift">
                        <option value="0">shift</option>
                        <option value="1">8 hr = 1 shift</option>
                        <option value="2">16 hr = 2 shift</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-4 text-right">Roll</div>
                    <div class="col-5">
                      <input type="text" class="form-control" [(ngModel)]="knitting.roll" name="roll"
                        placeholder="Roll">
                    </div>
                  </div>


                  <div class="row mb-2">
                    <div class="col-4 text-right">Production</div>
                    <div class="col-5">
                      <input type="text" class="form-control" [(ngModel)]="knitting.production" (change)="getBalance()"
                        placeholder="Production">
                    </div>
                    <!-- <div class="col-3">
                      <button type="submit" class="btn btn-success" (click)="getBalance()">+/-</button>
                    </div> -->

                  </div>
                  <div class="row mb-2">
                    <div class="col-4 text-right">Balance</div>
                    <div class="col-5">
                      <input type="text" readonly class="form-control" [(ngModel)]="knitting.balance" name="balance" placeholder="Balance">
                    </div>
                    <!-- <div class="col-4">
                        <input type="text" readonly class="form-control" [(ngModel)]="knitting.extra" name="extra" placeholder="Extra">
                      
                    </div> -->

                  </div>

                  <div class="row mb-2">
                      <div class="col-4 text-right">Extra</div>
                      <div class="col-5">
                        <input type="text" readonly class="form-control" [(ngModel)]="knitting.extra" name="extra" placeholder="Extra">
                      </div>
                    </div>

                  

                  <div class="row mb-2">
                    <div class="col-4 text-right">Remarks</div>
                    <div class="col-5">
                      <textarea class="form-control"  [(ngModel)]="knitting.remarks" name="Remarks"></textarea>
                        
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-md-12 custom_button">
                      <button type="submit" class="btn btn-primary mr-2" (click)="onClick()">Submit</button>
                      <button type="submit" class="btn btn-danger">Report</button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>