<form>
<div class="jumbotron" style="margin-top: -4rem">
    <div class="card border-primary mb-3" style="max-width: 43rem; margin-left: 28rem;">
      <div class="card-header"><h2 style="text-align: center">Fabric Calculation</h2></div>
        <div class="card-body" >
      
          
            <div class="row">
              <div class="col-md-3">
                  <div class="form-inline " >
         
                      <label >ID: </label>
                     <input class="form-control" type="text" placeholder="{{autoID}}" readonly style="width: 48%" disabled>
                    </div>
              </div>

              <div class="col-md-4">
                <div class="form-inline">
            <!-- <input type="text" name="dateRangeStartDate" #txtVoucherDate1ID="ngModel" [(ngModel)]="dateRangeStartDate"
                           style="width: 100%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                           class="form-control" [minDate]="minDate" [maxDate]="maxDate"> -->
                          <label for="formGroupExampleInput"> Mail Date: </label>
                           <input type="text" name="Fc.currentFabricCalc.mailDate" [(ngModel)]="Fc.currentFabricCalc.mailDate" placeholder="{{today}}"
                           style="width: 60%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                           class="form-control" required>
                          </div>
              </div>
              <div class="col-md-4">
                  <div class="form-inline">
                  <label for="formGroupExampleInput"> Entry Date: </label>
                  <input type="text" placeholder="{{today}}" name="Fc.currentFabricCalc.entryDate" [(ngModel)]="Fc.currentFabricCalc.entryDate"
                  style="width: 60%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placeholder="{{today}}"
                  class="form-control" required>
                 </div>
                </div>
              </div>
              <br> 
              <div class="row" style="margin-top:-1rem;">
                  <div class="col-6" style="margin-left: 0% ">
                      
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">Ref. No: </div>
                            </div>
                            <input type="text" class="form-control" style="width: 30%" id="formGroupExampleInput" placeholder="Enter Reference Number"
                          name="Fc.currentFabricCalc.refNo" [(ngModel)]="Fc.currentFabricCalc.refNo" required>
                          </div>
                  </div>
                </div>
                <br>
              <div class="row" style="margin-top:-1rem; margin-bottom: -1rem;">
                  <div class="col"> 
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Buyer Name:</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" style="width: 62%;" name="Fc.currentFabricCalc.buyer_name" [(ngModel)]="Fc.currentFabricCalc.buyer_name"required>
                      <option value="{{b.name}}" *ngFor="let b of allBuyers">{{b.name}}</option>
                    </select>
                  </div>
                  
                </div>
                 <div class="col">
                  <button class="button" class="btn btn-outline-info">New Buyer</button>
                 </div>
                </div>         
    </div>

    <div class="card-group">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title" style="text-align: center; margin-top: 0rem; padding-bottom: 10%">Style</h5>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Code No:</div>
                  </div>
                  <input type="text" class="form-control" id="inputPassword" placeholder="Code Number" style="width: 12.5rem" 
                  name="Fc.currentFabricCalc.style_code" [(ngModel)]="Fc.currentFabricCalc.style_code" onkeyup="this.value = this.value.toUpperCase();" required>
                </div>

                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Item Name:</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" style="width: 64%;" name="Fc.currentFabricCalc.style_item_name" [(ngModel)]="Fc.currentFabricCalc.style_item_name" required>
                    <option value="{{i.itemName}}" *ngFor="let i of allItems">{{i.itemName}}</option>
                  </select>
                </div>

                  <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Sleeve Type:</label>
                    </div>
                    <select class="custom-select" style="width: 63%;" name="Fc.currentFabricCalc.style_sleeve_type" [(ngModel)]="Fc.currentFabricCalc.style_sleeve_type" required>
                      <option value="{{s.Sleeve_name}}" *ngFor="let s of allSleeveType">{{s.Sleeve_name}}</option>
                    </select>
                  </div>

            </div>
          
        </div>
        <div class="card">
         
          <div class="card-body" style="margin-bottom: -3rem; margin-top: 0rem">

                <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: -1rem">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Size:</label>
                    </div>
                    <select class="custom-select" style="width: 50%" name="Fc.currentFabricCalc.size" [(ngModel)]="Fc.currentFabricCalc.size" required>
                      <option selected>Select</option>
                        <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                      </select>
                      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                          New Size
                         </button>
                  </div>
             
                  <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fabrics:</label>
                      </div>
                      <select class="custom-select" style="width: 70%" name="Fc.currentFabricCalc.fabrics" [(ngModel)]="Fc.currentFabricCalc.fabrics" required>
                          <option value="{{f.fabric_name}}" *ngFor="let f of allFabricType">{{f.fabric_name}}</option>
                        </select>
                    </div>
                 
                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Chest:</label>
                            </div>
                            <input type="text" class="form-control" id="inputEmail3" maxlength="4" placeholder="input" style="width: 30%" name="Fc.currentFabricCalc.chest" [(ngModel)]="Fc.currentFabricCalc.chest" required>
                            <select class="custom-select" style="width:40%" name="Fc.currentFabricCalc.chest_unit_of_measurement" [(ngModel)]="Fc.currentFabricCalc.chest_unit_of_measurement" required>
                                <option selected >Select</option>
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Length:</label>
                            </div>
                            <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 22%" name="Fc.currentFabricCalc.length" [(ngModel)]="Fc.currentFabricCalc.length" required>
                            <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.length_unit_of_measurement" [(ngModel)]="Fc.currentFabricCalc.length_unit_of_measurement" required>
                                <option selected>Select</option>
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                    
                        <div class="input-group mb-3" style="margin-bottom: 4rem; margin-top: 1rem">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Sleeve:</label>
                            </div>
                            <input type="text" class="form-control" id="inputPassword3" maxlength="4" placeholder="input" style="width: 24%" name="Fc.currentFabricCalc.sleeve" [(ngModel)]="Fc.currentFabricCalc.sleeve" required>
                            <select class="custom-select" style="width: auto" name="Fc.currentFabricCalc.sleeve_unit_of_measurement" [(ngModel)]="Fc.currentFabricCalc.sleeve_unit_of_measurement" required>
                                <option value="null" selected>Select</option>
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>

          </div>
         
        </div>
       
      </div>
      <div class="row" style="margin-top: 2%; margin-bottom:2%;">
          <div class="col"></div>
          <div class="col"></div>
        
        <div class="col"> <button type="submit" class="btn btn-success" style="margin-left: 20%;" (click)="createFabric(Fc.currentFabricCalc)">Submit</button></div>
        <div class="col"> <button type="submit" class="btn btn-primary" style="margin-left: -6%;" (click)="clearAll()">Clear</button></div>
        <div class="col"></div>
        <div class="col"></div>
        
      </div>
      <div  class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsubmitting" style="align-content: center">
          Entry Created successfully
        </div>
      </div>
      
</div>
</form>


<!--------------------------------------------- ADD NEW SIZE PORTION ------------------------------------------------------------------>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Size</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid && AddNewSize(Ums.currentUoM)" #f="ngForm" novalidate>
                <div class="form-row align-items-center">
                    <div class="col-sm-4">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">Size ID:</div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{sizeID}}" disabled>
                        </div>
                      </div> 
                  <div class="col-sm-7">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Size Name:</div>
                      </div>
                      <input type="text" id="size_name"class="form-control" minlength="5" placeholder="Size" name="Ums.currentUoM.Uom_name"
                      [(ngModel)]="Ums.currentUoM.Uom_name" #size_name="ngModel" required>
                    </div>
                  </div>
                </div>
                   <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" [disabled]="f.form.pristine || f.form.invalid" >Add</button>
                  </div>

                  <div class="form-group">
                    <div *ngIf="(size_name.invalid && size_name.touched)" class="alert alert-danger">
                      <div *ngIf="size_name.errors.required">
                        Name is required.
                      </div>
                      <div *ngIf="size_name.errors.minlength">
                        Name must be at least 4 characters long.
                      </div>
                    </div>
                  </div>
                  <div  class="alert alert-success" role="alert" *ngIf="showsuccessmessageforsize">
                    Size Added successfully
                  </div>

                </form>
<!------------------------------------------------------------ end of ADD NEW SIZE PORTION ------------------------------------------------------------------>
        </div>
      </div>
    </div>
  </div>

<app-fabric-result></app-fabric-result>