<div class="success" role="alert" *ngIf="showsuccessmessage">
    Post Created successfully
</div>

<form >
<div class="jumbotron">
    <div class="card" style="width: 65%;">
        <div class="card-body">
          <h1 class="card-title" style="background-color:cornflowerblue">Fabric Calculation</h1><br>
            <div class="row">
              <div class="col">
                  <div class="form-inline">
                      <label for="formGroupExampleInput">ID: </label>
                     <input class="form-control" type="text" placeholder="" readonly style="width: 40%">
                    </div>
              </div>

              <div class="col">
                <div class="form-inline">
            <!-- <input type="text" name="dateRangeStartDate" #txtVoucherDate1ID="ngModel" [(ngModel)]="dateRangeStartDate"
                           style="width: 100%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                           class="form-control" [minDate]="minDate" [maxDate]="maxDate"> -->
                          <label for="formGroupExampleInput"> Mail Date: </label>
                           <input type="text" name="today" [(ngModel)]="today"
                           style="width: 50%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                           class="form-control">
                          </div>
              </div>
              <div class="col">
                  <div class="form-inline">
                  <label for="formGroupExampleInput"> Entry Date: </label>
                  <input type="text" name="today" [(ngModel)]="today"
                  style="width: 50%;"  readonly bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" 
                  class="form-control">
                 </div>
                </div>
              </div>
              <br> 
              <div class="row">
                  <div class="col">
                      <div class="form-inline">
                          <label for="formGroupExampleInput">Ref. No: </label>
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Reference Number">
                        </div>
                  </div>
                </div>
                <br>
              <div class="row">
                  <div class="col">
                    <div class="form-inline">
                          <label for="formGroupExampleInput">Buyer Name: </label>
                          <select class="custom-select" style="width: 70%;">
                              <option selected>.....</option>
                              <option value="{{b.name}}" *ngFor="let b of allBuyers">{{b.name}}</option>
                            </select>
                  </div>
                </div>
                 <div class="col">
                  <button class="button" class="btn btn-outline-info">New Buyer</button>
                 </div>
                </div>         
    </div>
    <div class="card-group">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Style</h5>
            <div class="form-group row">
                <label>Code No:    </label>
                <div class="col-sm-5">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Code Number" style="width: 14.5rem" >
                </div>
              </div>
              <div class="form-group row">
                  <label>Item Name:  </label>
                  <div class="col-sm-5">
                    <select class="custom-select" style="width: 14.5rem">
                      <option selected>.....</option>
                      <option value="{{i.itemName}}" *ngFor="let i of allItems">{{i.itemName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                    <label>Sleeve Type:</label>
                    <div class="col-sm-5">
                        <select class="custom-select" style="width: auto">
                            <option selected>Select the Sleeve type</option>
                            <option value="{{s.Sleeve_name}}" *ngFor="let s of allSleeveType">{{s.Sleeve_name}}</option>
                          </select>
                    </div>
                  </div>
            </div>
          
        </div>
        <div class="card">
         
          <div class="card-body">
              <div class="form-group row">
                  <label>Size</label>
                  <div class="col-sm-10">
                      <select class="custom-select" style="width: 50%">
                          <option selected>...</option>
                          <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                        </select>
                    <button class="button" class="btn btn-outline-info">New Size</button>
                  </div>
                </div>

                <div class="form-group row">
                    <label>Fabrics</label>
                    <div class="col-sm-10">
                        <select class="custom-select" style="width: 70%">
                            <option selected>Select the Fabric Type</option>
                            <option value="{{f.fabric_name}}" *ngFor="let f of allFabricType">{{f.fabric_name}}</option>
                          
                          </select>
                    </div>
                  </div>
                      
                      <div class="form-group row">
                          <label>Chest</label>
                          <div class="col-sm-10">
                            <input type="email" id="inputEmail3" placeholder="input" style="width: 30%">
                            <select class="custom-select" style="width: auto">
                                <option selected>Select a Size</option>
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label>Length</label>
                          <div class="col-sm-10">
                            <input type="password" id="inputPassword3" placeholder="input" style="width: 30%">
                            <select class="custom-select" style="width: auto">
                                <option selected>Select a Size</option>
                                <option value="{{s.Uom_name}}" *ngFor="let s of allUoM">{{s.Uom_name}}</option>
                              </select>
                          </div>
                        </div>
          </div>
         
        </div>
       
      </div>
      <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        
        <div class="col"> <button type="button" class="btn btn-success">Submit</button></div>
        <div class="col"> <button type="button" class="btn btn-primary">Clear</button></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      </div>
     
     
     
      
</div>

