
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                        <h3 class="card-title">GET Table</h3>
                        <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">UserID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Compeleted</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor = "let tlist of todolist, index as i">
                                    <td scope="row">{{tlist.id}}</td>
                                    <td scope="row">{{tlist.userId}}</td>
                                    <td scope="row">{{tlist.title}}</td>
                                    <td scope="row">{{tlist.completed}}</td>
                                  </tr>
                                </tbody>
                        </table>
                </div>

            </div>      
        </div>

    </div>
</div>