<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-danger" routerLink="/product-add">+</button>
            <h3 class="card-title">Products List</h3>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor ="let d of data" routerLink="/product-details/{{d.id}}">
                    <td scope="row">{{d.id}}</td>
                    <td scope="row">{{d.prod_name}}</td>
                    <td scope="row">{{d.prod_price}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
</div>