.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
/* 
  .card-body {
    
    margin-bottom: -3rem;
    margin-top: 0rem;
    margin-right: 7rem;
    margin-left: 0rem;
  }
 
  .card{
    margin-left: 0%;
  } */
  
  .row{
  margin-right: -5rem;
  margin-left: 0rem;
  margin-bottom:0.5rem;
  
  }
 
  .container{
    margin-left: 15rem;
    margin-right: auto;
  }

  .wrapper{
    margin-left:5rem;
    margin-right:5rem;
    font-size: 12px;
  }