.ng-valid[required], .ng-valid.required  {
    border-bottom: 2px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-bottom: 2px solid #a94442;
  }
/* 
  .card-body {
    
    margin-bottom: -3rem;
    margin-top: 0rem;
    margin-right: 7rem;
    margin-left: 0rem;
  }
 
  .card{
    margin-left: 0%;
  } */
  
 .card{
   margin-left: 15rem;
   margin-right: 15rem;
   margin-top:1rem;
 }
 .row{
   padding-left:1rem;
   padding-right:1rem;
   padding-top:0rem;
   padding-bottom:0rem;
 }