<label>Please enter a title: </label>
<input type="text" class="form-controls" (keyup.enter)="CreateData(todo)" #todo> 
<hr>

  <div class="container">
    <div class="row">
      <div class="col-sm">
      USER ID
      </div>
      <div class="col-sm">
       ID
      </div>
      <div class="col-sm">
        TITLE
      </div>
      <div class="col-sm">
       COMPLETED
      </div>
    </div>
  </div> 
  <br>
  <div class="container" *ngFor="let todo of todos">
    <div class="row">
      <div class="col-sm">
        {{ todo.userId }}
      </div>
      <div class="col-sm">
      {{ todo.id }}
      </div>
      <div class="col-sm">
        {{ todo.title }}
      </div>
      <div class="col-sm">
        {{ todo.completed }}
      </div>
    </div>
  </div> 