<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 style="text-align: center">Abloom Design Limited</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2">Kitting/Dying Program Form</th>
                                    <td>
                                        <div class="row">
                                            <div class="col">Season:</div>
                                            <div class="col"><input type="text"></div>
                                        </div>
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col">Buyer:</div>
                                            <div class="col">
                                                <select class="custom-select" style="width: 70%" id="fabrics"
                                                    (change)="getbuyerInfo($event.target.value)">
                                                    <option value="">Select</option>
                                                    <option value="{{g.buyerCode}}" *ngFor="let g of buyerinfo">
                                                        {{g.name}}
                                                    </option>

                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">Ref. No:</div>
                                            <div class="col">
                                                <select name="" id="" (change)="getreportdata($event.target.value)"
                                                    style="width: 100%">
                                                    <option value="" selected></option>
                                                    <option value="{{a}}" *ngFor="let a of AllReference">{{a}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">Order Date:</div>
                                            <div class="col"><input type="text"></div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col">Style:</div>
                                            <div class="col">
                                                <select name="" id="" (change)="getstl($event.target.value)"
                                                    style="width: 100%">
                                                    <option value="" selected></option>
                                                    <option value="{{a}}" *ngFor = " let a of styleCode2">{{a}}</option>
                                                </select></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">Order Qty:</div>
                                            <div class="col"><input type="text"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col">Delivery Date:</div>
                                            <div class="col"><input type="text"></div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                                    <td colspan="2">Description</td>
                                    <td>
                                        <div class="row">
                                            <div class="col">Lead Time:</div>
                                            <div class="col"><input type="text"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center mt-3">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col-4">Color name</div>
                            <div class="col-6">
                                <input #colorName>
                            </div>
                            <div class="col-2">
                                <button (click)="addColor(colorName.value); colorName.value=''">ADD</button>
                            </div>
                            <ul class="colors">
                                <li *ngFor="let col of color,index as i">
                                    <a>
                                        <span class="badge">{{i+1}}</span>{{col}}
                                    </a>

                                    <button class="delete" title="delete color" (click)="deleteColor(col)">x</button>


                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col-4">knitting Type</div>
                            <div class="col-6">
                                <input #knittingName>
                            </div>
                            <div class="col-2">
                                <button (click)="addKnittingType(knittingName.value); knittingName.value=''">ADD</button>
                            </div>
                            <ul class="colors">
                                <li *ngFor="let col of knittingType,index as i">
                                    <a>
                                        <span class="badge">{{i+1}}</span>{{col}}
                                    </a>

                                    <button class="delete" title="delete color" (click)="deleteKnittingType(col)">x</button>


                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col-10 pr-0">
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Color/knittingType</th>
                            <th *ngFor="let lesson of knittingType; let i = index"> {{lesson}}</th>
                            <!-- <th> TTL</th> -->
                        </tr>


                    </thead>
                    <tbody>
                        <tr *ngFor="let point of color; let j = index">
                            <td>{{point}}</td>
                            <td *ngFor="let lesson of knittingType; let k = index">
                                <div class="row">
                                    <div class="col"><input type="text" id="{{j}}{{k}}" value=" "
                                            placeholder="{{j}}{{k}}" ngModel
                                            (keyup)="getvalue($event.target.value,j,k)"></div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>TTL</td>
                            <td *ngFor="let l of ttlCol">{{l}}</td>
                        </tr>

                        <button (click)="showArray(this.arr)">Submit</button>

                        <button (click)="clear()">clear</button>
                    </tbody>
                </table>
            </div>
            <div class="col-2 pl-0">
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>TTL</th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let p of ttl; let j = index">
                            <td>{{p}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   








<!-- Delete/Edit part -->




    <div class="container">
            <div class="row justify-content-md-center mt-5">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">Ref. No:</div>
                            <div class="col-6">
                                <select name="reference" id="" (change)="getreportdata1($event.target.value)" style="width: 100%" #reference ngmodel>
                                    <option value="" selected></option>
                                    <option value="{{a}}" *ngFor="let a of AllReference">{{a}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">Style:</div>
                            <div class="col-6">
                                <select name="styleCode" id="" style="width: 100%" #styleCode ngmodel>
                                    <option value="" selected></option>
                                    <option value="{{a}}"  *ngFor="let a of styleCode1" >{{a}}</option>
                                </select></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button (click)="sendforReport(reference.value,styleCode.value)" >Submit </button>
                      
                    </div>
                  
                </div>
              
             <div class="row justify-content-md-center mt-3">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-4">Color name</div>
                                     <div class="col-6">
                                        <input #acolorName>
                                    </div>
                                    <div class="col-2">
                                        <button (click)="addColor1(acolorName.value); acolorName.value=''">ADD</button>
                                    </div>
                                    <ul class="colors">
                                        <li *ngFor="let acol of acolor,index as i">
                                            <a>
                                                <span class="badge">{{i+1}}</span>{{acol}}
                                            </a>
        
                                            <button class="delete" title="delete color" (click)="deleteColor1(acol)">x</button>
        
        
                                        </li>
                                    </ul>
        
                                </div>
        
        
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-4">knitting Type</div>
                                    <div class="col-6">
                                        <input #aknittingname>
                                    </div>
                                 <div class="col-2">
                                        <button (click)="addKnittingType1(aknittingname.value); aknittingname.value=''">ADD</button>
                                    </div>
                                    <ul class="knittingType1">
                                        <li *ngFor="let col of aknittingType,index as i">
                                            <a>
                                                <span class="badge">{{i+1}}</span>{{col}}
                                            </a>
        
                                            <button class="delete" title="delete color"
                                                (click)="deleteKnittingType1(col)">x</button>
        
        
                                        </li>
                                    </ul>
        
                                </div>
        
        
                            </div>
                        </div>
                    </div>
        
                </div> 
                <div class="row"> 
                        <div class="col-10 pr-0">
                            <table class="table table-bordered mt-3 ">
                                <thead>
                                    <tr>
                                        <th>Color/knittingType</th>
                                        <th *ngFor="let lesson of aknittingType; let i = index"> {{lesson}}</th>
                                    </tr>
                            
                            
                                </thead>
                                <tbody>
                                    <tr *ngFor="let point of acolor; let j = index">
                                        <td>{{point}}</td>
                                        <td *ngFor="let lesson of aknittingType; let k = index">
                                    <input type="text" value="{{arr1[j][k]}}"  (keyup)="newarrMake($event.target.value,j,k)">
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>TTL</td>
                                        <td *ngFor="let l of ttlCol">{{l}}</td>
                                    </tr>
                            
                                    <button (click)="showArray1(this.arr1)"> Submit</button>
                                    <button (click)="deleteEntry(this.l)"> Delete</button>
                            
                                    <button (click)="clear()">clear</button>
                                </tbody>
                            </table> 
                        </div>
                        <div class="col-2 pl-0">
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>TTL</th>
            
                                    </tr>
            
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of ttl; let j = index">
                                        <td>{{p}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
    </div>
   
</div>
